[2016-09-26 19:27] derpicknicker1 opened #1 "Not able to close X/Y/Z rotation bubble"
When i hit the rotate button on the left a bubble with x/y/z input. But i'm not able to close this.
* I am using Chrome Version 53.0.2785.116 m (64-bit)
* Octoprint version is 1.2.16 (master branch)

[2016-09-26 21:39] kennethjiang commented on #1
It's on my list and I will get to it at some point.

The top 2 features on my list are:
- scale the model
- advanced settings such as "enable retraction".

Would you rank closing rotation bubble higher or lower than these 2 features above? If you'd rank it higher I will probably address it first.

[2016-09-27 13:05] kennethjiang opened #2 "Model should rotate around its own center, not (0,0,0)"

[2016-09-27 13:06] kennethjiang opened #3 "Scale the model!"

[2016-09-28 15:17] kennethjiang opened #4 "Reset model rotation and scale"

[2016-10-01 19:53] derpicknicker1 commented on #1
Do whatever you like. I think the plugin is fine in regards to its phase of development.
Ideas:
* A function to move the object arround would be nice.
* Also a visivble mark on the build platform to show where "the front" of the printer is.

[2016-10-02 10:36] universam1 opened #5 "Move the object"
Awesome work, thanks for providing this great addition!

Maybe I'm missing something, but the abitlity to move the object is super critical IMHO.
Is there any support for it?

Thank you!

[2016-10-03 07:23] bolsoncerrado opened #6 "[????] Unknown bug?"
i first blamed TouchUI but we proved wrong and upon uninstallation of the Slicer, the system worked fine again.

This is what I got after installing Slicer and restarting the service:

![c429d02c-8750-11e6-9e8b-70a740bbd8cf](https://cloud.githubusercontent.com/assets/10992914/19029977/eb5acdda-894a-11e6-95d2-48211b62e8ad.JPG)

Apparently it fails only locally, not remotely.

It tries to load WebGL

[2016-10-03 15:58] kennethjiang commented on #6
Ah I never tested it on Chromium with touch UI. Will test it and fix the problem. I assume Slicer plugin should just disable itself at the absence of WebGL. Let me know if you have better ideas.

[2016-10-03 23:47] kennethjiang commented on #5
cool. I think "moving mode" is now higher on the list. :) However, I tried to implement it before and it turned out to be quite tricky to do. So it'll take a while. Stay tuned.

[2016-10-04 07:53] universam1 commented on #5
The problem happens especially with bigger objects that are not centered or the origin is at 0,0 so no way to print within the boundaries...

Great, looking forward! :smile:

[2016-10-05 23:14] #4 closed

[2016-10-05 23:14] #3 closed

[2016-10-06 21:16] bolsoncerrado commented on #6
If its a limitation of the browser itself, then yeah, few things u can do about it...

[2016-10-06 21:17] bolsoncerrado commented on #6
....or....

http://raspberrypi.stackexchange.com/questions/49690/chromium-50-webgl-support-on-jessie

hummm worth trying?

[2016-10-07 15:01] kennethjiang commented on #6
Interesting. But I think it's a bit too intrusive for my plugin to change Chromium settings in /etc.

I guess I will go with the fix of disable my plugin if webgl is not present.

[2016-10-07 16:06] bolsoncerrado commented on #6
May be a switch to give the  user a chance to choose? :D

[2016-10-07 16:08] #2 closed

[2016-10-07 23:11] kennethjiang commented on #6
If users want, they can always make the changes themselves. I don't feel it's the right decision to change another app's settings "for the users".

I just pushed a new version to disable slicer when webGL is not supported. If you want to use the Slicer Plugin in Chromium, you can follow the instructions you found to enable WebGL.

Let me know if it's still breaking your OctoPrint/TouchUI. If not,

[2016-10-07 23:38] kennethjiang opened #7 "Indicators for the front/back/left/right of the print bed"

[2016-10-10 21:26] #6 closed

[2016-10-10 21:32] kennethjiang opened #8 "Draw print bed based on the size defined in printer profile"

[2016-10-11 02:54] kennethjiang opened #9 "Slice multiple models at a time"

[2016-10-13 03:45] #7 closed

[2016-10-13 08:30] foosel opened #10 "Invalid back tick characters break UI in IE11 (and apparently also some Android browsers)"
Just got [this ticket](https://github.com/foosel/OctoPrint/issues/1544) on the OctoPrint bug tracker, reporting it being impossible to login on IE11 and Android under 1.2.17rc1 where it still worked fine under 1.2.16. Couldn't reproduce (and it didn't make sense considering the changes between 1.2.16 and 1.2.17rc1 either), then noticed that in between that update the user also installed your plugi

[2016-10-14 05:47] donovan6000 commented on #5
It shouldn't be too tricky to implement. All the slicer plugins for OctoPrint will [center whatever it slices](https://github.com/ra100/OctoPrint-Slic3r/blob/master/octoprint_slic3r/__init__.py#L201-L202) in [the middle of the bed](https://github.com/foosel/OctoPrint/blob/master/src/octoprint/plugins/cura/profile.py#L820-L836), so you just need to adjust the bed's width and depth in the printer pr

[2016-10-14 13:25] #5 closed

[2016-10-14 18:22] kennethjiang commented on #5
Actually I was able to implement it with a much simpler design than M33, thanks to the built-in 'position' parameter that Octoprint supports.

Thank you for telling me about OctoPrint's BlueprintPlugin mixin. I will take a look at it to see how much I can leverage to make my code simpler.

[2016-10-16 12:41] #10 closed

[2016-10-17 02:30] kennethjiang opened #11 "Refactor SlicerViewModel to separate rendering into its own module"
The code is getting out of control now.

[2016-10-17 03:01] #8 closed

[2016-10-17 21:56] jangrewe opened #12 "Print not centered"
Hi, thanks for your plugin, i've been longing for something like this for a very long time!
It works very well, except that it doesn't center the generated model on the bed. That's fine if the print isn't that big, but now i have something that needs 225mm width (i have a Prusa i3 MK2 with 250mm) and the generated gcode places the model partially off of the left edge of the bed.
I have slice the v

[2016-10-17 22:13] jangrewe commented on #12
Nevermind, i just saw that you released 0.7.1 which fixes this. You forgot to update `setup.py` with the version number, though ;-)

[2016-10-17 22:13] #12 closed

[2016-10-17 23:29] kennethjiang commented on #12
Awesome. Great minds think alike. :)

[2016-10-17 23:42] kennethjiang commented on #12
updated setup.py. thank you for pointing it out!

[2016-10-26 11:55] LVNCELOT opened #13 "JS Error: Unable to process binding "options: function (){return matchingSlicers }"
After installing the slicer and rebooting the system, the JS code fails with this error, rendering me unable to login to the web app and uninstall the plugin.

[2016-10-26 14:27] kennethjiang commented on #13
What browser/version are you using? Also what OctoPrint version are you using (this may be difficult to get if you can't get into OctoPrint).

A few suggestions to get around this problem:

1. Try a different browser. I have been testing OctoPrint and this plugin on Chrome 53.0.
2. (if you are comfortable with command line) SSH to your Raspberry Pi (ssh pi@octopi.local), run command "/home/pi/opri

[2016-10-28 01:45] kennethjiang opened #14 "Slicer plugin tab should show an empty print area when no model is loaded"
It's currently a grey block.

[2016-10-28 01:55] #1 closed

[2016-10-28 01:57] kennethjiang commented on #1
@derpicknicker1 now you can toggle the bubble just by clicking the button again. Also I made enhancements that address your other suggestions. Happy slicing. :)

[2016-10-28 15:51] #14 closed

[2016-10-28 15:53] kennethjiang commented on #13
@LVNCELOT Can you please provide the info on what browser and which version you were using when you had that error. I tested my plug in on latest version of Chrome, Firefox and IE11. I'll be happy to fix it if you can offer more info about this issue.

[2016-10-29 20:01] rambo opened #15 "It seems changing profile does nothing to the settings"
I have 3 profiles and one is default, the default profile settings are loaded but if I change profile nothing happens, there is no JS error either.

[2016-10-31 07:21] derpicknicker1 commented on #13
Maybe you should also test in Safari to make Mac users happy :)

[2016-10-31 10:40] LVNCELOT commented on #13
@kennethjiang Please excuse the late reply. The issue arose on 1.2.11 on both Chrome and Firefox. I've since reinstalled octoprint and on 1.2.16 everything is working fine.

[2016-10-31 15:59] kennethjiang commented on #13
Thank you so much @LVNCELOT for pointing out this compatibility issue. Based on your info I found out that Slicer plugin requires OctoPrint 1.2.14 and up. I have created a PR (https://github.com/OctoPrint/plugins.octoprint.org/pull/47) and hopefully it'll get merged soon.

Once my PR get merged I will close this issue. But let me know if there is anything else.

[2016-10-31 16:15] #15 closed

[2016-10-31 16:47] #13 closed

[2016-11-11 11:53] jangrewe opened #16 "No updates via Update Manager"
I noticed that your plugin doesn't have any reference back to this repo in OctoPrint's Update Manager, so you don't get any updates unless you install them manually. I'm guessing that's fixed easily with some additional info in setup.py, but i can't offer a solution right away ;-)

[2016-11-11 22:41] kennethjiang opened #17 "Disable Slice button when printing is in progress"

[2016-11-18 21:50] derpicknicker1 commented on #16
this is because the release names start with 'v'. Had the same problem with telegram plugin some time ago.

[2016-11-19 05:37] JorgMU opened #18 "Using a round delta printer with origin set to 'center' in the printer profile cause off set issues"
If I slice with a printer profile that has the origin set to 'center', and a printer area of 200x200x300 the gcode generated puts the part completely off the bed to the top-right when viewed in the gcode viewer.

Using the built in slicer without any other plugins works perfectly.

[2016-12-01 14:37] kennethjiang commented on #18
Sorry for the delay. Just came back from a long vacation.

Will work on this issue whenever I get a chance.

[2016-12-01 14:52] kennethjiang commented on #16
Thanks folks for initiating/commenting on this issue. And sorry for the delay as I was just back from a long vacation.

@derpicknicker1 I tested release names (tags) without the starting 'v' and somehow they still didn't show up in OctoPrint's "Settings" -> "Software Update". Please see attached screenshot. Will appreciate it if you can shed some light on what I'm still missing.

<img width="965"

[2016-12-01 15:02] JorgMU commented on #18
No worries, thank you for looking into it!

Thanks,

Jorg

Erik 'Jorg' Jorgensen
Support Systems Administrator - Principal
Vended Applications Support Services
Division of IT
University of Missouri - Columbia
jorgie@missouri.edu<mailto:jorgie@missouri.edu>
573.882.5974
"If you're not gonna tell the truth, then why start talking?" - Gene Wilder, 1933 - 2016 R.I.P.

From: Kenneth Jiang [mailto:notif

[2016-12-02 16:23] #18 closed

[2016-12-03 18:36] kennethjiang commented on #16
@jangrewe I just tested it and it seems to work - thanks to the tip from @derpicknicker1 . However I'm not 100% confident so I'm not closing this issue now. Can you test it to see if it works for you and let me know?

[2016-12-03 23:28] jangrewe commented on #16
@kennethjiang all my OctoPrint instances updated themselves to 0.8.1, looks like you fixed it! =)

[2016-12-03 23:28] #16 closed

[2016-12-10 01:24] analogmonster opened #19 "Skirt"
Hi, can you please add an option for skirt as well as brim? I use skirt when it's a model that won't have adhesion problems just to prime the nozzle and brim when it's needed. Thanks

[2016-12-11 03:59] kennethjiang commented on #19
I think when you choose "none" for adhesion, Cura engine will generate "skirt" for you. Can you try it to see if it's what you want?

[2016-12-11 12:30] analogmonster commented on #19
Yeah you are right. Sorry this is my second octoprint install, but previously was using an m3d micro so was using the m33fio plugin for slicing and that had a tick box for skirt brim or raft. Thanks

[2016-12-11 12:30] #19 closed

[2016-12-11 22:21] donovan6000 commented on #19
@analogmonster In case you didn't know, you can use M33 Fio with all types of printers. Just enable the Settings > M33 Fio > "Not using a Micro 3D printer" settings, and then all the Micro 3D specific features will be disabled. With that settings enabled the slicer profiled editor lets you set additional settings like the print temperature and bed temperature, and the model editor displays a grid

[2016-12-11 22:42] analogmonster commented on #19
Hmm thanks I may well do that, still have the m3d but it's relegated to short prints until I build a Bowden system I'm happy with. But kind of makes sense to have the same system across my printers, thanks

[2016-12-13 20:12] mrvanes opened #20 "Filament diameter"
I realise this slicer only serves a "minimal" set of profile parameters, but I think it would be valuable to see and be able to edit filament diameter. Some spools I own are 3.0, some are 2.85.

[2016-12-13 22:22] twilde opened #21 "Slicing file in a folder in OctoPrint 1.3.0 gets confused"
With OctoPrint 1.3.0, it's now possible to have folders within the file upload hierarchy. When slicing a file inside a directory with this plugin, the filename defaults to "foldername/filename.gco" - but OctoPrint is already putting it into the folder by default, and actually strips out the "/" from that name when passing to the slicer. This results in UI confusion because the slash isn't removed

[2016-12-14 01:18] #20 closed

[2016-12-14 04:15] kennethjiang commented on #21
Fixed in 0.8.3 (you may have to manually update the plug-in since OctoPrint sometimes doesn't recognize new plugin versions).

[2016-12-14 04:15] #21 closed

[2016-12-15 22:32] mrvanes commented on #20
Thx!

[2016-12-23 09:59] universam1 commented on #9
That would be awesome!
Thanks for great work with this project!

[2016-12-23 16:24] kennethjiang commented on #16
Thank you @derpicknicker1 . I dropped 'v' from my tag and started using pure numeric version numbers a while ago. However when I pushed a new version it almost never showed up immediately in my other OctoPrint installations. How long do you have to wait for the new versions to show up?

[2016-12-23 22:09] derpicknicker1 commented on #16
This is because of Octoprint is caching the update informations.
go to ``Settings -> Software Updates`` select ``Advanced Options`` at the bottom of the dialog and force the refresh of update data.
I don't know how often Octoprint refreshes the update data. Maybe every 24h?

[2016-12-24 02:44] kennethjiang commented on #16
cool I will try "force refresh" when I have next version. Thanks @derpicknicker1

[2016-12-30 04:56] Ytgr opened #22 "Brakes Octoprint"
First of all I'd just like to say thank you for developing anything for people to have and change on their own for free. I'll just cut right to the chase - I have a brand new install of OctoPi and whenever I install this plugin via the url address in the plugin manager, I restart OctoPrint, and then it is broken. I can't login or anything. If you can help me or if you need more information please

[2016-12-30 11:27] derpicknicker1 commented on #22
I had the same issue. For me it was a problem with WebGL. My browser (Chrome) didn't support it. After activating some settings and flags in Chrome, it worked for. [THIS](http://superuser.com/questions/836832/how-can-i-enable-webgl-in-my-browser) helped me.
To fix your broken octoprint, ssh into your rPi and open config.yaml for edit. Search for the 'plugins' section in the file and insert this:
[

[2016-12-30 15:52] Ytgr commented on #22
Thanks for the help and reply. I was installing via the URL because when I searched for the plugin in the manager it wouldn't show up. Then I updated to the latest OctoPrint, the plugin showed up, I installed it, and it worked.

[2016-12-30 15:52] #22 closed

[2016-12-30 17:29] kennethjiang commented on #22
Thank you so much @derpicknicker1  for fielding this issue for me!

[2017-01-01 11:54] bizziebis opened #23 "Slicer doesn't handle folder structure good"
With OctoPrint 1.3.0 a possibility to create folders inside the upload folder was introduced.

When you create a folder and and enter it, then upload a .stl, the slicer plugin gives you a wrong output path. It shows something like "Vases/Vase_1.gco". This will  result in the creation of a file called "VasesVase_1.gco" in the currently active folder.

Side effect of this problem is that the Alalysi

[2017-01-01 11:57] bizziebis commented on #23
Darn, directly after opening this issue I see that my plugin is still at 0.8.1, not at 0.8.3. I will check back later when I get it updated.

[2017-01-01 14:00] bizziebis commented on #23
Solved, sorry for the confusion :)

[2017-01-01 14:00] #23 closed

[2017-01-01 18:04] kennethjiang commented on #23
Glad that you figured this out!

[2017-01-01 20:35] bizziebis opened #24 "No file analysis after slicing"
After a file is sliced and saved as .gco, no analysis is performed. The metadata is missing filament/volume information afterwards.

When I download the sliced file, delete it from OctoPrint and re-upload it, the analysis is started and the correct metadata is created.

After slicing:

After upload:
`octoprint.filemanager.analysis - INFO - Starting analysis of local:testing/Marvin_KeyChain.gco`

O

[2017-01-03 00:05] kennethjiang commented on #24
Do you use a plugin to show the cost? I'm also on OctoPrint 1.3.0 but I don't see things like Estimated print time or Cost.

[2017-01-03 07:19] bizziebis commented on #24
Yes I use [Cost](https://github.com/jasiek/OctoPrint-Cost) plugin to show the costs of each print. It's just injected javascript code which doesn't interfere. Also with that plugin disabled I get no filament usage information.
Estimated print time was always there if I remember correctly.

[2017-01-04 03:27] kennethjiang commented on #24
I installed Cost plugin and was able to reproduce the issue you reported.

However I suspect this is a bug of either Cost plugin or OctoPrint itself. Because if I uninstall Slicer plugin and use OctoPrint built-in slicer to slice a model, I have exactly the same issue.

Can you do the same (uninstall Slicer plugin and slice a model with OctoPrint built-in slicer) and see if you experience the same

[2017-01-04 10:12] derpicknicker1 commented on #24
The cost plugin simply gets file metadata (filament usage and estimated print time) and calculates the costs. There is no way to interfere with fileanalysis. I sliced with the build in slicer option and the metadata (see below) will not include filament usage (tool0 and tool1 are empty). Same result if i use the slicer plugin.  I think this is a Octoprint issue or the analysis has to be triggerd i

[2017-01-04 11:37] bizziebis commented on #24
@kennethjiang You are right. The problem is also with the build-in slicer. So It's not actually a problem of your plugin.

But as derpicknicker1 mentioned it's also not a problem of the Cost plugin. It's a OctoPrint bug I'll be watching the new issue created at the OctoPrint git for a solution.

Thank you both for checking this issue!

[2017-01-04 14:42] kennethjiang commented on #24
Thanks @derpicknicker1 for helping me around!

[2017-01-04 14:42] #24 closed

[2017-01-11 12:09] derpicknicker1 commented on #24
Gina announced that this issue will be fixed in 1.3.1

[2017-01-11 14:47] kennethjiang commented on #24
Cool! Thanks again @derpicknicker1

[2017-01-14 10:05] RiaanAspeling opened #25 "Slicer doesn't work in Chrome?"
It seems slicer "freezes" when activated in Chrome (Version 55.0.2883.87 m). It woks find in Edge and Firefox.

[2017-01-14 19:09] derpicknicker1 commented on #25
For me it works fine in Chrome Version 55.0.2883.87 m (64-bit).
Slicer Version 0.8.3

[2017-01-14 21:10] pmbroth opened #26 "Slier plugin, not having a slicer engine"
Hello,  It installed perfectly via plugin manager.  NO slicer engine is in drop down.  How to install a slicer engine?

[2017-01-14 21:13] pmbroth commented on #26
Never mind, figured it out.  User Problem.,   :-)

[2017-01-14 21:13] #26 closed

[2017-01-14 21:22] kennethjiang commented on #25
It doesn't sound like a Chrome version problem. Do you know how to use Chrome Developer Tool @RiaanAspeling? If so can you do some quick trouble-shooting to see where it get stuck?

[2017-01-15 12:04] RiaanAspeling commented on #25
@kennethjiang : Just basicly using F12 in Chrome. Or do I need something like Fiddler?

[2017-01-15 19:24] sanchosk opened #27 "No slicers available"
Hi.

I have a problem.
I have the plugin installed, but I cannot find any configuration. It does not show in my settings menu.
I can't find any way how to configure it and add some slicers :(
Can you, plz, advice?

[2017-01-16 03:16] kennethjiang commented on #27
Slicer plugin requires no settings. Every time you slice a model, either by pressing the slice button or uploading a new STL, this slicer plugin (as opposed to the simple slicer built into OctoPrint) will run automatically.

[2017-01-16 03:23] kennethjiang commented on #25
Hmmm, I'm out of ideas how I can debug this issue for you. Is there a way I can access your Octoprint and see what's going on? The problem is I can't reproduce what you are experiencing... :(

[2017-01-16 03:41] sanchosk commented on #27
And by "simple slicer" you mean Cura plugin? Why is there slover selection then?
I don't want to sound negative - I just hoped this would allow me to use slic3r on my octoprint device - which would be amazing!

[2017-01-16 03:59] kennethjiang commented on #27
Unfortunately my plugin doesn't bring in the support of slic3r.

[2017-01-16 04:25] RiaanAspeling commented on #25
@kennethjiang : I will investigate further and let you know if I find anything, thank you. If I can't manage to find anything I'll arrange a port forward with DDNS and get you access to the Pi.

[2017-01-16 04:38] kennethjiang commented on #25
Sounds good!

[2017-01-19 20:03] SoyBlack opened #28 "Request: Retraction/Remember Settings"
Please consider allowing for:

1. Set Retraction - Speed and Distance
2. Default Settings - I use PLA a lot and use the same settings often. Would be nice to have the ability to make a PLA preset that I can tweek slightly as needed - rather than having to re-enter ALL of the settings on each print.

Otherwise - thanks for the excellent plugin!

[2017-01-22 16:02] kennethjiang commented on #28
sorry for the delay!

I will look into setting speed and distance for retraction.

You can upload slicing profiles and select the desired one from the "General" tab in "Slicer". For details on how you can upload profiles please check: https://github.com/foosel/OctoPrint/wiki/Plugin:-Cura

[2017-01-22 16:16] #27 closed

[2017-01-23 17:17] #28 closed

[2017-01-23 17:39] kennethjiang commented on #28
@SoyBlack retraction speed and distance have been added to version 0.8.4

[2017-01-23 18:01] SoyBlack commented on #28
Awesome - thanks! I will update once my print is done here and check it out!

[2017-01-24 14:45] eyal0 commented on #9
I'm working on it.  There is a somewhat working version here:

https://github.com/eyal0/OctoPrint-Slicer/archive/multiple_stl.zip

I'm working on it so it might not be stable.

* Click on the magic wand to add an stl file to the platform.
* Click on a model on the platform to select it for moving, rotating, etc.
* No way to delete models yet but I'm working on it.  For now, just reload (F5) in the

[2017-01-25 14:26] kennethjiang commented on #9
again my apology for the delay due to my schedule. can't wait to see it in action!

[2017-02-01 19:39] dismania opened #30 "Unable to create a profile for slicing"
Tried to use this slicer.  I am unable to upload or create a slicing profile.  I have a few created for the default cura slicer, but they do not show up with this one and I cannot slice my file to print.

[2017-02-01 21:54] kennethjiang commented on #25
Closing it for now. @RiaanAspeling if the issue persists and you find a way to reproduce it, please re-open this issue.

[2017-02-01 21:54] #25 closed

[2017-02-01 23:06] kennethjiang commented on #9
I tried it and it looks good! Can you open a PR so that i can take a look at the diff?

[2017-02-02 04:57] kennethjiang commented on #30
Can you:

1. make sure you do have profiles for cura slicer (menu 'Settings' -> CuraEngine -> Profiles)
2. upload a STL file to OctoPrint. The slicer plugin will display with that STL file loaded.
3. let me know what are the options you have in the "Slicing Profile" drop down in "General" tab?

[2017-02-02 10:14] eyal0 commented on #9
Sure, but there are multiple steps.  First, OctoPrint-Slicer needs to support uploading temp STLs.

Currently, if you scale or translate a model on the platform, when you go to print, OctoPrint-Slicer will upload the modified model, *overwriting* the model already on the server.  The deletes the original STL.

If I left this behavior, it would cause the multi-model platform to overwrite the STL wi

[2017-02-02 10:18] eyal0 opened #31 "Use a temporary file for uploaded STLs"
When modifying a model on the platform (rotate/translate/scale), the new STL file must be uploaded to be sliced.  Currently the upload overwrites the existing file.

This isn't an expected behavior and it's also a problem for solving https://github.com/kennethjiang/OctoPrint-Slicer/issues/9 .  The solution instead is to upload a temporary STL file when the platform has been modified and then delet

[2017-02-02 16:45] #31 closed

[2017-02-02 19:30] #17 closed

[2017-02-03 20:54] kennethjiang commented on #9
Big thanks to @eyal0 for getting this challenging issue nailed!

[2017-02-03 20:54] #9 closed

[2017-02-10 02:03] kennethjiang commented on #30
closing this issue since I can't reproduce it.

[2017-02-10 02:03] #30 closed

[2017-02-10 02:06] kennethjiang opened #37 "Refactor profile_overrides.js"
Refactor `profile_overrides.js` to elevate the following issues:

* profile entries of Cura and Slic3r may share the same name but different types (one is array the other is not).
* Jinja files for Cura and Sli3r are mingled which make it hard to maintain.
* A general way to pre/post-process data, such as converting string <-> float, or removing "%"

[2017-02-10 16:11] kennethjiang opened #38 "Collect usage data"

[2017-02-13 22:41] kennethjiang opened #41 "User interaction glitches on General tab"
A few bugs that are probably related:

- "Slicer" dropdown: when changed from *CuraEngine* to *Select a slicer...*, it still has *CuraEngine* checked.
- When *Printer Profile* is changed to *Select a printer profile...*, *Slice it!* button is not disabled.
- probably more...

Overall the user interaction on *General* tab needs rethinking.

[2017-02-14 00:44] #38 closed

[2017-02-15 04:34] kennethjiang opened #42 "Split model into parts"

[2017-02-15 14:31] kennethjiang opened #43 "Scaling the model using TransformControl is not intuitive"
With tiny mouse movements the scale factor can go to tens or hundreds. Very hard to manipulate.

[2017-02-16 14:21] kennethjiang opened #44 "Are these error cases handled correctly?"

[2017-02-16 20:10] kennethjiang opened #45 "Disable arrow on Z-axis for transformControls translate mode because it is confusing"

[2017-02-16 22:44] thjansen72 opened #46 "File Path"
Is it possible to change the gcode-output-path back to the old behavior?
In the older versions, the gcode file was written in the folder  of the STL - very good for sorting.
THe newer version  (>0.9) is writing it in the Files-"root" - no matter where the stl  is - and must be mover manualy for sorting.

[2017-02-17 01:19] kennethjiang commented on #46
Ah I think this is a bug that was introduced recently.

The latest version allows you to load multiple STL files into slicer and slice them at once. Can you consider this scenario: if you load **folder1/A.stl** into slicer first, then **folder2/B.stl** into slicer. There are 2 options to save gcode to:

1. **folder1/A.gco**
2. **/A.gco** (root folder)

Which option do you prefer?

[2017-02-17 08:53] thjansen72 commented on #46
Damn (sorry)! Of cause you're right. It wasn't clear to me. TNX

[2017-02-17 14:08] kennethjiang commented on #46
Oh I didn't mean to say you were wrong. I will change the code to use the correct folder when there is only 1 STL file. And I'd like to hear your opinion on where you'd expect the Slicer plugin to put the gcode when there are multiple STL files. I'd like it to work in a way that is the most intuitive to most users.

[2017-02-17 14:57] thjansen72 commented on #46
O.K. I think it is a question of workflow. At the moment, the name of the first stl is used and the main folder. It sounds logical to me to put the gcode in the same directory as the first STL: start to prepare printing, adding the first stl (the one I want to print primary) then I'd find out: oh there is a lot of space for more and would add the next stl as second... I think in a bigger projekt w

[2017-02-17 18:34] kennethjiang opened #47 "Scale handle (red) works in reverse"
Likely the bug in TransformControl

[2017-02-17 22:49] kennethjiang commented on #46
Thank you so much for your inputs @thjansen72 . I'm impressed how you approached it thinking of it in terms of workflow.

I'm a software engineer and I love creating software for 3D printing. But I'm probably less experienced in 3D printing itself than people like you. Do you mind a phone call/skype with me so that I can learn from your experience to be able to incorporate better features and user

[2017-02-17 23:11] kennethjiang opened #48 "Lay flat!"

[2017-02-18 00:47] #45 closed

[2017-02-18 00:48] #11 closed

[2017-02-18 03:42] fmodesto opened #49 "Control addition of multiple objects"
With the last release is it possible to slice multiple objects and print them in one go. It is a great feature but should not be enabled by default, or should be a way to control de behaviour. I have already screw some prints thanks to the left overs.

I think it would be good if the arrange button can be toggled and in that mode append the files, otherwise ignore the previous content and start fr

[2017-02-18 05:21] kennethjiang commented on #49
Hmmm, I think current behavior is similar to how Cura works - it requires users to explicitly clear all models, otherwise new model will be added to existing ones.

Can you give me more details on how current flow confused you?  I'd like to figure out an optimal user experience for most users.

BTW **arrange** button is only optional to use when there are multiple models on the bed. You can always

[2017-02-18 07:30] thjansen72 commented on #46
I think, what fmodesto wrote is a good beginning for a possible workflow. The single file in the "old way" and with adding the next file the question: "what do you wan't" and "what's the ne name to put it to".
O.K. Skype is running most time thomas@thjansen.de

[2017-02-19 13:55] #46 closed

[2017-02-19 14:00] kennethjiang commented on #46
@thjansen72 I fixed this bug. Please wait for next release and verify if it works as you expected.

I'm still struggling to figure out the best work flow for multiple STLs. What @fmodesto suggested seems to make sense. But the only problem is that **arrange** is a button. If I make it a toggle, I don't know how users would find a way to manually trigger auto-arrange function.

Sent a request to yo

[2017-02-19 14:49] #43 closed

[2017-02-19 14:49] #47 closed

[2017-02-19 18:03] kennethjiang opened #50 "Add Javascript error reporting"

[2017-02-20 16:43] kennethjiang commented on #49
@fmodesto I just released 0.9.4 in an attempt to make the flow less confusing. Can you please upgrade it and let me know if the new flow improves the situation? If so, please close this issue. Otherwise feel free to make further suggestions.

[2017-02-20 19:55] hieronymousch opened #51 "G code is not compatible with printer"
Used a working config bundle from slic3r 1.2.9, imported without problem.
Had to modify the temperature & G-codes (which shouldn't have to be done as this information is in the config_bundle
G code is half the size of the slic3r produced code on my desktop.
Printer won't print

[2017-02-20 20:04] #50 closed

[2017-02-20 20:11] kennethjiang commented on #51
Thank you for submitting an issue.

Can you provide me with the following?

1. the STL file
2. the generated G-code
3. The config bundle

I'll try to reproduce the problem.

[2017-02-20 20:18] hieronymousch commented on #51
Hi,

Thanks for your quick reply.

Files in attachment. I already cleaned the config bundle but same results.

Renaming the printer profile name didn't solve the problem neither.

Grtz,

J

Op 20/02/2017 om 21:11 schreef Kenneth Jiang:

# generated by Slic3r 1.2.9 on Mon Feb 20 20:07:36 2017

[filament:20170120-white-ice]
bed_temperature = 0
bridge_fan_speed = 100
cooling = 1
disable_fan_first_lay

[2017-02-20 23:00] fmodesto commented on #49
Works great, thank you :)

[2017-02-20 23:00] #49 closed

[2017-02-21 20:22] eliasbakken opened #52 "JS error in Chrome"
There seems to be a javascript error occuring in Chrome but not FireFox.

Chrome reports this line as faulty:
https://github.com/kennethjiang/OctoPrint-Slicer/blob/133fc7ff9bd0cb3f59bfe44f72ae1fe389152488/octoprint_slicer/static/js/RectanglePacker.js#L22
![screenshot from 2017-02-21 21-17-20](https://cloud.githubusercontent.com/assets/3756249/23183288/d3b72c3c-f87b-11e6-8d2a-077bd3dff407.png)

[2017-02-21 22:23] kennethjiang commented on #51
I attached the gcode generated on my OctoPrint using Slic3r as the engine. It almost doubles the size of the file you sent me. Can you verify if this gcode is printable?

In the gcode you sent me, I see:
[code]

However, when I sliced it using the config init file you attached, the resulted gcode is:
[code]
Do you know why yours seems to be sliced using different width settings?

[3b2072ef0f7d7441

[2017-02-21 22:38] kennethjiang commented on #52
@eliasbakken I will look into what was causing the issue. But first of all I'm very interested in learning how you got Chrome to tell you which file/which line caused an error? I have been searching for such a solution but haven't found a good one, since all individual JS files got concatenated into 1 big JS file.

Can you give me a bit more info on the steps leading to this error? I just tried it

[2017-02-21 22:38] #44 closed

[2017-02-22 08:13] hieronymousch commented on #51
Hi,

Your gcode prints fine (is printing now) so the problem seems to be on my side.
I just imported the slicing profile (from Slic3r 1.2.9) and sliced via octoprint. No idea why the extrusion widths were changed.

[2017-02-22 14:34] kennethjiang commented on #51
Did it go well when you imported the profile and sliced it again via octoprint? Let me know if it didn't.

[2017-02-22 16:41] Jabarnes01 opened #53 "JQuery - no knockout.js"
Would it be possible to port the knockout.js to plain old JQuery?

[2017-02-23 00:49] kennethjiang commented on #53
OctoPrint chose knockout therefore any plugin will have to work with knockout to be available.

Is knockout causing any problem?

[2017-02-23 00:52] kennethjiang commented on #52
@eliasbakken any more info on this issue? My Chrome (56.0.2924.87 on OS X) is fine with this line https://github.com/kennethjiang/OctoPrint-Slicer/blob/133fc7ff9bd0cb3f59bfe44f72ae1fe389152488/octoprint_slicer/static/js/RectanglePacker.js#L22

[2017-02-23 14:56] #41 closed

[2017-02-24 03:00] kennethjiang commented on #51
Closing it on the assumption that user no longer experience problems.

[2017-02-24 03:00] #51 closed

[2017-02-24 07:13] hieronymousch commented on #51
Hi.
Import worked fine.. but after some more digging I noticed that I've installed the dev version of the slicr, I presume that the errors are caused by that (having the same problem with another RPI) with the normal slic3r gui.
Thanks for your help and my apologies for bothering you with this noob mistake ;)

[2017-02-24 13:14] kennethjiang opened #55 "loading wrong slicing profile"
steps to reproduce:

1. set default slicing profile to be 2nd on the list
2. load model
3. change one custom slicing setting
4. try to load 3rd slicing profile
5. on prompt, select "abort"
6. BUG: 1st slicing profile now is loaded and all custom settings overwritten

[2017-02-24 15:10] kennethjiang commented on #51
No apologies needed. By working with you on this issue I have learned something too!

Feel free to re-open this issue or file another one should you keep having issues.

[2017-02-24 16:16] Jabarnes01 commented on #53
No but I want to bring this out of octoprint. I want to replace the input and output endpoints with custom endpoints.

[2017-02-24 18:42] kennethjiang commented on #53
Ah I see your point now!

Actually I have been thinking in the similar direction. I'd love to package some reusable components, event independent of jQuery (ideally they shouldn't be attached to specific html tags so jQuery should be out of the picture too).

If you want to take a stab at it I will love to collaborate on the effort.

[2017-02-24 21:33] #55 closed

[2017-02-24 22:00] kennethjiang commented on #52
Hi @eliasbakken would you kindly provide details on how to reproduce this error, and how you determined it was caused by that line of code you specified?

[2017-02-25 20:28] kennethjiang opened #56 "Slicer button is not enabled in Safari"

[2017-02-25 20:32] kennethjiang commented on #53
Actually most of the JS files in folder `octoPrint_Slicer/static/js` are not tied to knockout. Only `slicer.js` and `profile_overrides.js` do.

`STLViewPort.js` is the critical file that renders STL models in 3js. It doesn't even depend on jQuery. You can start using it now if you don't care it isn't nicely packaged. Let me know if you need my assistance on that.

[2017-02-26 18:49] eliasbakken commented on #52
Sure! I'm on Chrome  48.0.2564.109, which is the standard for Ubuntu 16.10

![screenshot from 2017-02-26 19-45-51](https://cloud.githubusercontent.com/assets/3756249/23342516/602480fa-fc5c-11e6-84a5-48e3e5779252.png)

Here is a more compete screenshot. I use he built in debugger in Chrome (Ctrl+Shift+i) which tells me there is an error in packed_plugins.js line 7900. For some reason I have to scro

[2017-02-27 14:24] kennethjiang commented on #52
Ok I will try it with Chrome on Ubuntu.

[2017-02-27 14:49] kennethjiang commented on #52
I tried it on Chrome 56.0.2924/ubuntu 16.04 and couldn't reproduce this error.

Downloaded Chrome from https://www.google.com/chrome/browser/desktop/. If you don't mind upgrading chrome you can do it to see if error goes away.  When i get a chance i will find a way to install older version of Chrome to see if I can reproduce the issue.

[2017-02-27 16:04] eliasbakken commented on #52
Upgraded to 56.0.2924.87, not a problem any more.

It's up to you how severe you think this bug is. Maybe write a notice about it somewhere or get someone to fix it. I'd love to help out, but I really don't have the time right now. Love this plugin and want to see it succeed:) We are adding it as default to the Kamikaze image, starting from 2.1: http://wiki.thing-printer.com/index.php?title=Kamika

[2017-02-27 20:09] Jabarnes01 commented on #53
Ok, I'm going to take a stab at this... I'm going to rework slicer.js and profile_overrides.js

[2017-02-27 22:58] kennethjiang opened #57 "drag to move object"

[2017-02-27 23:00] kennethjiang commented on #57
Some reference impl here: http://math.hws.edu/graphicsbook/c5/s3.html

This can be part of a packaged STL manipulation lib.

[2017-02-28 16:14] Jabarnes01 commented on #53
I don't see basic or any advanced options after I installed the plugin... Wondering why that is?

[2017-02-28 20:00] kennethjiang commented on #53
The options are not shown until you load a model. It's probably neither necessary nor intuitive. Will open an issue for that.

[2017-02-28 20:01] kennethjiang opened #58 "Load slicer and profile options before model is loaded"
Currently slicer or profile options are not shown until 1st model is load. It's not an intuitive user experience.

[2017-03-01 13:53] kennethjiang opened #59 "Adding visual support for circular bed areas"
An elegant way to do it seems to treat print volume as a geometry (box or cylinder) and use texture to paint wall and floor. This will help with collision detection too.

There are already a [PR](https://github.com/kennethjiang/OctoPrint-Slicer/pull/54) for it but orbit has noticeable lag on my computer.

[2017-03-01 14:46] Jabarnes01 commented on #53
I had a model loaded but the options did not show up. No big deal... My other question is why are you using stlViewPort.js? I'm recreating everything from scratch and so far it's not necessary to have this lib. Is the library depreciated?

[2017-03-01 18:33] Jabarnes01 commented on #53
I see you created that has a helper for custom functionality. Got it. I'm having a problem when I use the transform inputs the model disappears on my custom app. Not sure why that happens yet...

[2017-03-01 21:16] #56 closed

[2017-03-04 01:16] kennethjiang opened #60 "Auto-arrange time is quadratic to the number of models"

[2017-03-04 01:20] kennethjiang commented on #52
Found out what the problem was. It will be fixed with next version release.

[2017-03-05 13:44] kennethjiang opened #61 "click on bed to dismiss model selection"

[2017-03-06 19:10] #60 closed

[2017-03-06 19:11] #42 closed

[2017-03-07 19:27] #52 closed

[2017-03-07 21:09] kennethjiang commented on #58
This turns out to be tricky because:

- `onSlicingData` event that SlicingViewModel fires doesn't work because it is fired prematurely, when `slicingViewModel.allViewModels` is still empty.
- `slicingViewModel.profile.subscribe` won't be triggered until `slicingViewModel.file(xxx)` is called. I could load a 'fake' STL file but it's really hacky.
- `slicingViewModel.slicers.subscribe` is the only c

[2017-03-07 23:23] kennethjiang opened #62 "Optimize user interaction"
- zoom on mouse scroll is too sensitive
- orbiting is a bit sluggish: why is this example so responsive? https://stemkoski.github.io/Three.js/Model-Animation.html
- the pickers and handles for 'scale' is barely usable.

[2017-03-10 16:50] John-Mc opened #63 "Supports not working (or user error)?"
I imported some profiles from Cura which had support turned off when importing. Loaded an STL file (See attached) on the bed which needed supports, so I turned on "everywhere" under that option, but file is printing with no supports. Did I do something wrong, or is there something else going on? Shouldn't the support setting in your slicer override the setting in the imported Cura filament profile

[2017-03-10 17:48] kennethjiang commented on #63
Thank you for submitting this issue!

I just tried to reproduce this problem myself: I saved a cura profile with Support: None. Then I turned Support: Everywhere in Slicer plugin and sliced your STL. The slicer did generate support in gcode (attached). The support is tiny (0.4mm around the bottom of the ball) though but I assume this is how Cura's algorithm works.

If you are still not getting sup

[2017-03-10 18:09] John-Mc commented on #63
Thanks. There was a tiny bit of support under the ball. I assumed it would print supports under the top edges of the cube, but it did not.

I guess we can consider this one operator malfunction - I tried a simple file that I designed to need more noticeable supports, both touching build plate and within the print. Supports worked as they should. Sorry to waste your time.

Is there a user group for

[2017-03-10 18:17] kennethjiang commented on #63
No worries. You are always welcome to shoot questions my way by opening an issue here. I will set up a user's forum when I'm overwhelmed. :)

As a matter of fact I'll love to hear feedback from you to see how I can bring more value to you by adding features to this plugin or by creating other plugins. Are you open to a call/skype in the next few days?

[2017-03-10 19:15] John-Mc commented on #63
I'm rather new at this, so not sure how much useful input I would have. We are just getting started using OctoPi, and still having some setup issues (most related to a lack of cooperation from the School's IT folks). Is there a way to get in touch without posting a phone number or Skype address in the open?

[2017-03-10 19:24] John-Mc commented on #63
Kenneth -

    One thing that I believe is already on your list: a "Lay Flat"
    command. I volunteer with a 5th & 6th grade class at my local
    elementary school, trying to help them learn to use their Lulzbot
    Mini printer and offering input as they work through their designs
    (I'm no expert in that either).  The lay flat command would be
    extremely helpful. TinkerCAD is about the on

[2017-03-10 19:33] kennethjiang commented on #63
Really appreciated your detailed feedback John! Yes *lay flat* is on my road map and I can't wait to wrap up what I'm working on (split into parts) and get to that one. :)

I have been thinking about another plugin that may or may not address the 2nd problem you listed. Let's coordinate a time to call/skype by email: kenneth@rhumbix.com

[2017-03-13 15:45] #63 closed

[2017-03-14 03:21] kennethjiang opened #64 "problems with drag-n-drop'ing more than 2 stls to Octoprint"

[2017-03-14 18:32] scruss commented on #62
Could the numeric fields be assigned a tab order so you could update one, hit TAB, and go to the next field down please?

[2017-03-14 21:27] dani203 opened #65 "Finer Fan control"
My Printer allows for fine fan speed control, but sadly the Slicer plugin does not support that. I would like to see a slider that allows me to set the speed between 0 and 255. i run my fan at 25% most of the time, because any faster and it cools my bed down and i get terrible warping and lifting.
Currently i need to manually download the model, edit it in notepad++ delete it from the server and r

[2017-03-14 21:34] John-Mc commented on #65
I wonder about a "tweak at Z" plugin like Cura Desktop has. Could it be used to tweak the fan speed at different heights? (I'm not requesting this. It's not a feature I've used on Cura Desktop, though others may find it useful. Just suggesting it as an option for fan control.)

[2017-03-14 23:33] kennethjiang commented on #65
@dani203 are you looking for something that Cura supports (as in the screenshot attached)? Or you need something more sophisticated as suggested by @John-Mc ?
<img width="896" alt="screen shot 2017-03-14 at 4 32 41 pm" src="https://cloud.githubusercontent.com/assets/779786/23926866/e7d5daf2-08d3-11e7-82f3-fa217d77f1b1.png">

[2017-03-14 23:39] kennethjiang commented on #53
@Jabarnes01 In case you will find it useful, I am in the process of separating some common 3D model manipulation into [an independent package](https://github.com/kennethjiang/3tk). The bulk of what the slicer plugin currently relies on will move to 3tk, which depends on neither knockout nor jQuery.

I will close this issue unless you have anything that's beyond the scope of what I'm doing with 3tk

[2017-03-14 23:39] #53 closed

[2017-03-15 04:00] kennethjiang commented on #62
@scruss Good suggestion!

And you are more than welcome to a stab at it and I will merge the PR. I've been quite swamped lately so it'll take me a while to get around to it.

[2017-03-15 05:34] John-Mc commented on #62
I like the "Split" button. Is it new? I didn't notice it before.

A couple of user interface suggestions:

It makes more sense to me to keep the "Remove" button at the bottom of the column of buttons. It's used more frequently than Split. It also just seems to "make more sense" to me on the bottom. But that could be just me.

Using the "Split" button on a model just to see what it does, I ended up

[2017-03-15 22:04] kennethjiang opened #67 ""Split" will blow out internal geometries"
When 1 mesh consists of multiple geometries that overlap with each other but don't share any common vertices, *split* command will blow out these geometries as if they were separate. This is because my algorithm only considers vertices being coincident but not overlapping faces.

[2017-03-16 00:37] kennethjiang commented on #65
@dani203 Please indicate if the fan settings in Cura (the screenshot that I posted) are good enough for you. If so it's quite easy to implement. Otherwise it will be very difficult.

[2017-03-16 00:44] kennethjiang commented on #62
Appreciated your feedback @John-Mc . The "split" button is supposed to break down models that consist of unconnected parts. But because of [this bug](https://github.com/kennethjiang/OctoPrint-Slicer/issues/67) it blows out internal structures as well.

Would you like to delete models using *delete* key? That'll be trivial to implement. I do like the "clear all" function but I feel it may be overki

[2017-03-16 01:08] John-Mc commented on #62
I agree, I would not add a dedicated button: too much clutter.  What about shift-click to select more than one, or click and drag, using a "selection box" to select multiple items. That would allow more than one item to be selected without adding a button (both shift-click and the selection box are common techniques). Down side to selecting multiple then clicking remove is that people may try to d

[2017-03-16 03:03] kennethjiang commented on #62
Shift-click is easily doable and pretty elegant user interaction design. "Selection box" is very common in 2D design but not so much in 3D, probably because it's hard to implement correctly. Again I appreciate all these good suggestions! @John-Mc

I agree that the bug in *split* is confusing enough to cause a lot of trouble. I just pushed a new release that removed that button. Please upgrade when

[2017-03-19 12:34] VictorBucha opened #68 "version 1.0.2 slicer returns code 11"
Experienced after update. restarting OP has no impact.

[2017-03-19 15:50] kennethjiang commented on #68
@VictorBucha Can you provide a bit more info? What part of the code returns `11`? Did you have the problem when OP was booting up, or when you tried to load an STL into the slicer? A screenshot with the error code will be great

[2017-03-19 16:51] kennethjiang commented on #68
@VictorBucha I ran into similar issue and now I understand what you mean by *code 11*. For me, this error only happens to a very specific STL. I'm investigating why it fails. Meanwhile can you help me clarify:
- Does *code 11* happen to all of your STL files, or just some of them?
- Can you attach one of the files that failed so that I dig deeper?

[2017-03-19 16:54] John-Mc commented on #68
I don't have my printer with me right now, but I am able to start OctoPrint, upload a new file and slice it in version 1.02 with no problems. The kids at school ran off a couple of prints with no problems on Friday.  I'd be happy to load and slice a few STLs at home (without the printer attached) if it would help trouble shoot. I just need to know if this is something that needs the printer attach

[2017-03-20 03:12] kennethjiang commented on #68
Thank you @John-Mc for offering to help. I believe this only happens to some STL files. Since you have not run into similar issues you don't need to test it out for me. I'll wait until @VictorBucha to get back to me with the STL file that caused the problem.

[2017-03-21 15:34] VictorBucha commented on #68
New update has no impact on the start of OP, code 11 returns only when I hit slice button. Seems to be certain stl - specific, so i'm closing the issue for now.

[2017-03-21 15:34] #68 closed

[2017-03-23 16:17] kennethjiang commented on #65
@dani203 I'm closing this issue since I haven't heard from you. If you still want this feature, you can reopen this issue and provide more details.

[2017-03-24 03:34] fidel3d opened #69 "deselecting a bad item from the whole"
Hi,
Would it be possible to deselect a bad printing item from the whole so it won't ruin the whole print like in pronterface

[2017-03-24 16:53] kennethjiang commented on #69
I'm not familiar with how proterface works.

Currently you can click on the 'X' icon in slicer plugin to delete the highlighted part. But sounds like you need something different.

Can you elaborate on how you'd de-select a bad item?

[2017-03-25 00:33] kennethjiang opened #70 "Slicer window is VERY SLOW in Safari"

[2017-03-25 00:33] #57 closed

[2017-03-25 00:34] #61 closed

[2017-03-25 00:35] #62 closed

[2017-03-25 00:36] kennethjiang opened #71 "Zoom in/out using touchpad is too sensitive. Probably the same for mouse."
It should be the problem with OrbitControl.

[2017-03-25 00:37] kennethjiang commented on #69
@fidel3d I just released a new version that includes some changes to how you select items. Please upgrade and tell me if it addresses your concerns.

[2017-03-25 01:28] robogeek1234 opened #72 "Model does not load after clicking "Slice""
I upload a file to octoprint on a pi 3 click the "Slice" button and it does not show up in the bed of the slicer.

[2017-03-25 01:28] John-Mc commented on #69
Was @fidel3D asking about deselecting and item WHILE PRINTING, so that a part that is failing can be stopped, but other parts on the bed keep printing?

[2017-03-25 01:30] kennethjiang commented on #72
Does it happen to every STL files or just some specific ones? Can you attach one of the STL files that failed to load? Thanks!

[2017-03-26 15:28] John-Mc opened #73 "OctoPrint doesn't offer to update slicer to v 1.1.1"
The latest release of the OctoPrint-Slicer (v1.1.1) is not popping up the dialog box when I log in saying there are updates available. In the past, your updates have always shown up when I first logged in.

If I go to the Software Update section in OctoPrint, It shows that I have 1.1.0 and says "everything is up to date".

[2017-03-26 17:20] kennethjiang commented on #73
@John-Mc this is a known issue of OctoPrint. From the anecdotal information I heard so far there are at least 20% of the chance when OctoPrint won't prompt for a plugin update.

A workaround is to click *Advanced options* on *Software Update* settings, and click *Force check for update*. Please let me know if OctoPrint still won't prompt for new version after "force check"

[2017-03-26 18:44] John-Mc commented on #73
_Force check for update_ worked. I had not run into that problem before. In fact I had not even noticed the _advanced options_ choice (but then I haven't been using OctoPrint all that much). Good to know.

[2017-03-26 18:45] #73 closed

[2017-03-26 18:54] John-Mc commented on #70
Not seeing this in the couple that I tested. For example:
  • Sliced a 2.3MB STL on Safari in 9.76 seconds.
  • Sliced same file on Firefox in 9.68 seconds

Both were running on the same computer (Mac OS 10.12.3, Firefox 52.0.1 64 bit, Safari 10.0.3)

[2017-03-26 20:25] kennethjiang commented on #70
What I mean by safari being slow is the slicer window is less responsive when you try to drag model across the print bed.
2MB STL is probably not bad. A 10MB STL like [this](http://www.thingiverse.com/thing:763622) will make it really sluggish.
But your comments prompted me to do some more testing and found out that Safari is super slow *only* when it's in 'developer' mode (develop window is open

[2017-03-27 08:51] breadfan13 opened #74 "model move"
no option to move multiple stl on bed or auto sort models on bed
![capture](https://cloud.githubusercontent.com/assets/19809432/24348256/af866366-12a0-11e7-8f5f-06b3ec99d991.PNG)

[2017-03-27 14:22] kennethjiang commented on #74
This is definitely a bug! Does it happen every time you try to use the slicer plugin, or just occasionally? @breadfan13

Also in case this problem happens again, please try to click on the "rotate" icon and see if you can move the model again.

[2017-03-27 15:53] breadfan13 commented on #74
I can rotate perfectly. And yes, every time it is loaded. Is there a button missing under the three dots? Clicking the empty space there doesn't do anything.

[2017-03-27 16:46] kennethjiang commented on #74
Can you do me a favor to find out these info:

- Slicer plugin version (in OctoPrint: "Settings" -> "Software Update" -> look for "installed version" under "Slicer".
- Your browser and its version.
- Your operating system and its version

To your question: no there are no buttons missing from your screenshot. the recent version of slicer plugin allows you to just drag the model across the print be

[2017-03-27 16:49] kennethjiang commented on #74
Oh, so that you can find a way to use the slicer plugin, can you switch to a different browser? I have done a lot of testing on latest version of Chrome. So please try it in Chrome if that's not what you are already using.

[2017-03-27 18:03] breadfan13 commented on #74
Ok it was my version of Chrome. Must have been an older one. I went to check the version and it auto updated and now I can freely move models. Thank you so much! FYI it was slicer 1.1.1. and chrome version 56. after updating to 57. it solved the problem.

Thank you for your help!

[2017-03-27 18:03] #74 closed

[2017-03-27 18:07] kennethjiang commented on #74
Glad that it worked out for you.

Although I'm also using Chrome 56 I have had no problems. Therefore I'm afraid other users may have the same problem since it's not clear what was causing the problem to you. Are you using a Window, Mac or Linux? Which version?

[2017-03-27 19:57] breadfan13 commented on #74
The bug was on my Windows 10 machine.

Sent via smoke signal.

[2017-03-27 21:14] John-Mc commented on #74
When I first upgraded the plugin, I could not move items. I assumed it was user error, and did not have a lot of time to mess around with it. I tried it a couple days later (therefore both my computer and Raspberry Pi had been rebooted) and it was working fine. Unfortunately, I can't remember whether I was running your slicer version 1.1.0 or 1.1.1 at the time. Also, Firefox had an update from 52.

[2017-03-27 23:21] kennethjiang commented on #74
Sounds like most people ran into similar issue - it didn't work right after upgrade then it started working after either a force-refresh or system reboot. I will test it out to see if this is the case.

[2017-03-28 03:11] #64 closed

[2017-03-28 15:14] pook0959 opened #75 "Error Slicing"
I get an error when trying to slice stl file. where can i check log?

[2017-03-28 17:09] kennethjiang commented on #75
You can find all the log files in `/home/pi/.octoprint/logs` (assuming you installed using *octopi* image).

However, by default OctoPrint doesn't log Cura commands and debugging info to any of these files. You need to turn debugging on by add `--debug` to appropriate place in `/etc/init.d/octoprint`.

If you don't mind you can send the problematic STL to me and I will debug it for you.

[2017-03-28 17:11] kennethjiang commented on #75
Also if you get and error message saying that slicing returned with `-11`, it usually means that `cura-engine` core dumped with signal 11.

[2017-03-28 18:14] #59 closed

[2017-03-28 22:45] pook0959 commented on #75
[Responsive_Yo-Yo_(Ball_bearing_axle_and_spacers).zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/877286/Responsive_Yo-Yo_.Ball_bearing_axle_and_spacers.zip)

I was trying to do the left side.

[2017-03-29 01:19] John-Mc commented on #75
No error slicing that part on my Raspberry Pi running OctoPrint 1.3.2 and slicer plugin v 1.1.1

[2017-03-29 03:26] kennethjiang commented on #75
These STL work with my setup (the same as @John-Mc's). However I have run into STL files that sliced ok with Raspberry Pi but core-dumped with signal 11 on a ubuntu VM. So I'm not too surprised that @pook0959 has issue slicing the same STL in his OctoPrint.

@pook0959 This is most likely an issue with Cura engine, not Slicer plugin. A few things you can try to work around this error based on my ex

[2017-03-30 02:48] GfiveO opened #76 "Dimensions & Lay Object Flat Function"
Awesome plugin! I teach 3D Design and Printing to middle school kids. With the limited resources we have and the complexity of the software stack to go from design to printing. Its so much easier for the students to load there models straight to the Octoprint server for each printer. We have four different types. I can setup the slicing profile for each printer and they can just upload multiple pr

[2017-03-30 04:37] kennethjiang commented on #76
Good timing! I just started to implement the "lay flat" feature, which is quite difficult and would probably take a while before I can get it to work. Showing the dimensions should be easier. If you are happy with just showing L/W/H next to the % when *"scale"* button is activated, it'll probably just take a few hours when I get around to that. Stay tuned!

[2017-03-30 13:37] John-Mc commented on #76
I agree that showing dimensions when scaling would be helpful. Generally, the kids I work with do all of their scaling in their design program, but sometimes there is an "oops".

Lay flat is a biggie if the kids are using TinkerCad, since it has no such command, nor (unless I missed it) does it even have a way to measure the angle your base makes with the print bed so you can manually lay it flat

[2017-03-30 13:41] John-Mc commented on #76
Kenneth - I just want to thank you for all of your efforts on this plug-in. It has been a huge boon to the classroom where I volunteer. Since they are using TinkerCad on ChromeBooks it has greatly simplified their work flow. They can now do 95+% of their slicing right on OctoPi running on a Raspberry Pi 3 and accessed directly from their Chromebook. We have three basic slicing profiles for each fi

[2017-03-30 20:35] pook0959 commented on #75
Ok, so I had the previous version installed of slicer, and did the upgrade and I realized that is when i started having issues. so I uninstalled slicer, rebooted octoprint and reinstalled the latest version and haven't had issues since. Thanks for the suggestions.

[2017-03-30 20:36] #75 closed

[2017-04-02 12:49] HobbyIngenieur opened #77 "Filament Flow Setting without effect"
Hi,

after changing filament to a different type, I had the need to increase the Filament Flow setting.
First I tuned it from 100 to 110% and printed unattended, then I set it to 120% because the 110% result was still not okay. During printing the 120% version, I watched my printer and the display stated "100% flow" all the time while printing. The result looks identical to the 100% and 110% print

[2017-04-02 15:55] kennethjiang commented on #77
Sounds like a pretty serious bug.

Are you using Cura or Slic3r?

[2017-04-02 18:41] kennethjiang opened #78 "Transform mode is in wrong state"
1. Load 1 model
2. Set it to "rotate" mode
3. Click a 2nd model
4. Choose "empty bed and start new print" on the new modal
5. BUG: the 2nd model is loaded with rotate gizmo shown, but "rotate" input fields hidden. click on "rotate" button will show input fields but hide rotate gizmo.

[2017-04-04 08:17] HobbyIngenieur commented on #77
I'm using Cura 15.04.4 on my Desktop to generate presets and the cura/octoprint integration on the raspi.

[2017-04-04 11:14] HobbyIngenieur commented on #77
I tried some more ways to change Filament Flow and after these tests, I'm not finally sure, if there is a bug in your slicer but in the cura implementation. What did I do:

1. With a cura generated printer profile (100% flow) I tried to override this setting with setting Filament Flow to 110% in your plugin. Result: 100% flow while printing. With that result I opened this issue.

today:
2. With a

[2017-04-04 12:21] John-Mc commented on #77
Is there any chance that it is actually printing at 110%, but your printer doesn't "know" it's 110% because the adjustment was made in the amounts extruded before it gets to the printer? That is, the printer doesn't know that it's already been bumped up, since it's not the printer which is making the extra 10% adjustment.

I'm guessing this is not the case, since you mentioned the changes had no n

[2017-04-04 12:56] thjansen72 commented on #77
Wich firmware shows the flowrate? Mine is telling just the  printing-speed...
Well. If you need 5m filament for the print at 100% you'd need 5.5m with 110% - right?
Just check the gcode if it's changing or not...
(G1 Exxx.x must be bigger)

[2017-04-04 15:21] HobbyIngenieur commented on #77
@thjansen72 The Firmware Version is "FIRMWARE_NAME:ANET_A8_20160525 VERSION:ANET V1.0".
Meanwhile I was able to produce a satisfying result. And as I stated before, I'm kind of a noob :)

@thjansen72, @John-Mc
I printed my file again, setting the flowrate directly on the printer control panel to 120%. This time, it was somehow okay. Meanwhile I received your comment an looked into the GCode files.

[2017-04-04 17:01] John-Mc commented on #77
It does seem odd that you need a 140% flowrate to make it work. If every print is like this, you may want to look at "calibrating your e-steps", but that's a discussion for another place. Glad you got it figured out.

[2017-04-04 18:34] kennethjiang commented on #77
Thanks @John-Mc @thjansen72 for chiming in and helping me out here! And I'm glad that you folks got this figured out!

[2017-04-04 18:34] #77 closed

[2017-04-06 01:27] #48 closed

[2017-04-06 01:27] #76 closed

[2017-04-06 01:27] #78 closed

[2017-04-06 01:31] #70 closed

[2017-04-06 01:33] kennethjiang commented on #72
Let me know if you are still experiencing this issue @robogeek1234 . I just pushed a new release with bug fixes and cool features. Upgrade your plugin to see if the problem is gone now.

[2017-04-06 01:38] kennethjiang commented on #69
@fidel3d I just release a new version. Please upgrade your plugin in to see if your problem is solved. If not, please let me know here.

[2017-04-06 11:36] fromagek opened #79 "Copy/multiply objects"
In Repetier-Host it is possible to copy/multiply objects. This is a useful feature if you want to print the same part multiple times.

[2017-04-06 13:41] John-Mc commented on #79
If you install the "Full-Featured Slicer" plug in, it adds a tab called "slicer" that shows a depiction of the print bed. You can load multiple items on the bed at once (or the same item multiple times), and rearrange them by clicking and dragging. It works well.

The plugin also allows you to change a number of slicing options, so you don;t have to import a new profile for every little change you

[2017-04-06 17:23] John-Mc opened #80 ""Split into parts" hangs"
I tried to "split into parts" an object which had had had problems with the internal components getting "blown out" under a previous version of the "Split" command. The slicer tab is showing the bed and all selections grayed-out and a graphic with 9 little boxes which appear and disappear over the center of the object.  I assume that means it's calculating. Unfortunately, it's been in that state f

[2017-04-06 17:50] John-Mc commented on #80
Quite my web browser and restarted. Never did anything to the Pi. The part is is no longer on the bed, and things seem to be functioning normally.

Further info: this was running on a "vanilla" installation of Raspian to which OctoPrint was added, not on an installation which came from OctoPi.

[2017-04-06 17:53] kennethjiang commented on #80
Thank you @John-Mc for reporting this bug. It apparently impacts all users. Am working on a fix and it'll go out soon with 1.2.1.

[2017-04-06 21:52] kennethjiang commented on #76
@GfiveO @John-Mc I just released 1.2.1, which includes features requested in this issue and better (I hope) user experience.

Lay flat may run pretty slow for models > 5MB, especially if you are on Firefox or IE. In any case please open an issue if/when you run into problems.

[2017-04-06 23:10] John-Mc commented on #76
Never realized that Firefox was any slower than the others. Is Apple's Safari browser any better? You just might push me to Chrome yet.

[2017-04-06 23:14] John-Mc commented on #80
Version 1.21 fixed the hang, but it's still blowing out the internal parts. The STL is not one I designed, so I can't tell you much about it, but I don't think it's got any loose parts inside.

[2017-04-07 01:08] kennethjiang commented on #80
I have yet to figure out a good way to solve issue #67.

On the other hand, I found that Cura has similar behavior in split model into parts. If you get a chance to try your STL with Cura, let me know if it does the same.

[2017-04-07 01:08] #80 closed

[2017-04-07 01:15] kennethjiang commented on #76
Some how Safari is slightly more sluggish when a huge (in terms of file
size) model across the printer bed. But for the math to "lay flat" model,
Safari comes up slightly ahead, followed by Chrome, and Firefox is
significantly slower. I guess each browser has its own sweat spots and
weaknesses

On Thu, Apr 6, 2017 at 4:10 PM, John-Mc <notifications@github.com> wrote:

[2017-04-07 01:52] John-Mc commented on #80
My version of Cura is customized by Lulzbot. I can't find any "split" command.
Downloade Cura 2.4, but can't find a split command in that

[2017-04-07 02:05] kennethjiang commented on #80
You are right! I have been using Cura 15.04 and found "split into parts"
handy when I had an STL file that contained several unconnected parts.
Somehow newer version of Cura removed this feature.

It happens to me quite a few times when I downloaded an STL from
thingiverse that has several parts, and I wanted to print just some parts,
or want different parts in different orientation.  How often (o

[2017-04-07 11:37] John-Mc commented on #80
The Lulzbot version is based on either 15.03 or 15.04, but I can't find "split" in there either. We don;t run into it much at the school, because the kids tend to design 1 thing at a time. When we were running Cura on the Windows PC (Lulzbot version) I don't think we had access to it - or if we did, we didn't know that we did.

It would definitely be useful if we did more downloading from Thingive

[2017-04-08 00:31] John-Mc opened #81 "Lay Flat command resets z-axis rotation"
I just noticed a minor bug in the Lay Flat command:

If I rotate an object around the z-axis, then choose "Lay Flat", the object get laid lflat, but it also gets returned to its original z-axis orientation. I think it would be preferable if Lay Flat left the z-Axis rotation alone.

It's a minor bug, since the work-around is obvious: choose Lay Flat first, then do any z-axis rotations after.

[2017-04-08 00:42] John-Mc commented on #79
Just realized: you can load multiple instances on the bed **IF** you have the STL file: Just keep clicking on the "slice" button for that STL and it will keep adding the item to the bed. I don't think it's possible if you are working with a g-code file. Since the file is already sliced, it doesn't get added to the bed before printing. (and the g-code already has the information that positions the

[2017-04-09 00:46] Floyd1677 opened #82 "Not so much an issue, but an idea."
Hi Kenneth, firstly, I'd like to say thank you for taking the time to create the slicer plugin. It has totally opened up my use of Octoprint and now I couldn't be without it. I'm not a coder myself, but I have a suggestion which, may be possible to include in the slicer, or may require a separate plugin of its own. Would it be possible to have an option (or plugin) that, after the .stl has been sl

[2017-04-09 12:04] John-Mc commented on #80
I could not find "split into parts" on the Mac OS version of Lulzbot's customized Cura, (based off of 15.02.01). I've downloaded and checked both versions 15.04.6 and 2.4 for Mac OS (regular Ultimaker versions, not customized for Lulzbot printer) - I can't find a "Split" command there either. I thought perhaps it was that Cura would not display the command if there was nothing to split (I had load

[2017-04-09 13:37] kennethjiang commented on #80
Can you upload the model with 2 simple parts? I will take a look at why "split" doesn't work on it.

Attached is the screenshot of my Cura version of 15.04.6 (Mac) with "split object into parts" command. Interestingly it also blows out internal parts for the couple of models I just tested.
<img width="1172" alt="screen shot 2017-04-09 at 6 20 16 am" src="https://cloud.githubusercontent.com/assets/

[2017-04-09 13:57] kennethjiang commented on #79
@fromagek Do you want to duplicate STL objects, or objects with only g-code?

[2017-04-09 13:59] kennethjiang commented on #72
I assume this issue no longer exists. You can re-open it if you still run into the same problem @robogeek1234 .

[2017-04-09 13:59] #72 closed

[2017-04-09 14:00] kennethjiang opened #83 "Change to use google form to file issue because not all users have github account."

[2017-04-09 14:00] #71 closed

[2017-04-09 14:01] kennethjiang commented on #69
I assume this issue no longer exists. You can re-open it if you still find it a problem @fidel3d

[2017-04-09 14:01] #69 closed

[2017-04-09 15:14] John-Mc commented on #80
Kenneth - I believe you misread my earlier post. Your slicer's split command worked **perfectly** on my model with 2 simple parts. I'm assuming you don;t actually need that model, given that it worked just fine.

Thanks for the screen shot of Cura Mac. Somehow I had missed that the split command was called up by control-clicking on the object (which I assume is Right-clicking in Windows). I was lo

[2017-04-09 15:28] kennethjiang commented on #80
Sorry. I did misread your comments. I wonder why cura pulled this command
from newer version. It seems that there are quite a few users in the same
position as me to need to use 'split' once in a while. When version 1.2.0
broke this function they ran into problems​.

On Sun, Apr 9, 2017, 8:14 AM John-Mc <notifications@github.com> wrote:

[2017-04-09 19:30] kennethjiang commented on #81
This turns out to be harder to fix than I thought.

The tricky part is that z-rotation will impact x- and y- rotation. To see how it works, if you rotate a model to along x and y to any angles other than multiples of 90 degrees, then when you rotate z, you will see that x and y rotation will change with it.

So it looks to me that fixing this bug is to solve this math problem: given original rotat

[2017-04-10 07:14] fromagek commented on #79
I would like to duplicate STL files.
If you want to print a small part many times (e.g. 50 times) you have to add them one by one and orient them. This is a bit tedious, however it already works.
Best florian

[2017-04-10 13:13] kennethjiang commented on #79
Ah I understand your use case now @fromagek . I think I did run into similar situation once of twice. This is easy to implement - will get to it when I have a chance.

[2017-04-10 20:48] kennethjiang opened #84 "Regression: lock "scale" doesn't work"

[2017-04-10 22:03] John-Mc commented on #84
Seems to be working on my installation. If the "lock" check box is selected and I type 1.5 in the x axis scale box, the other two axes change to 1.5 as well. If it's unchecked, changing the scale in one box changes only that axis.

[2017-04-11 00:02] kennethjiang commented on #82
@Floyd1677 I sent this to your email not sure if you received:

Thank you for submitting the issue for my plugin.

the function you mentioned is supported in some slicers such as Simplify3D. However neither Cura no Slic3r has such function. Therefore it won't be possible for me to build into my slicer plugin which is built on top of Cura and Slic3r.

If the only reason why you want the function of

[2017-04-11 00:19] kennethjiang commented on #84
hmmm this regression was introduced by 1.2.0 or 1.2.1. You must be on 1.2.1 so I'm wondering why you are not affected by this bug...

[2017-04-11 00:25] #83 closed

[2017-04-11 00:25] #84 closed

[2017-04-11 01:08] John-Mc commented on #84
I'm using 1.2.1  Just tried it again to make sure. Working fine.

[2017-04-11 01:37] kennethjiang commented on #84
Aha I tried it on Firefox and I didn't have the bug. So it's on Chrome and Safari only! The browsers still have not-so-subtle differences.

[2017-04-11 01:37] kennethjiang commented on #84
I just released 1.2.2 which fixed it anyway.

[2017-04-11 11:03] thjansen72 opened #85 "Missing table-volume"
Hello!
I rebuild my printer for a longer (300mm) y-axis. After changing the parameters and restarting octopi, i realized, the slicer is missing 50mm in back...
I didn't tried it out yet,  to see if it realy makes an issue on the slicers work - but you'll never know...
![2017-04-11](https://cloud.githubusercontent.com/assets/20270638/24906238/32596be0-1eb7-11e7-9800-c32017852547.png)

[2017-04-11 13:43] kennethjiang commented on #85
Yes I do see the problem. It's a terrible bug. Will work on a fix ASAP.

[2017-04-14 19:29] eyal0 opened #86 "Fix dimensions of walls"
The walls of the slicer aren't drawn with the correct dimensions.  The order of the dimensions [here](https://github.com/kennethjiang/OctoPrint-Slicer/blob/master/src/slicer.js#L534) is wrong.

Even though the [documentation](https://threejs.org/docs/?q=box#Reference/Geometries/BoxBufferGeometry) for ThreeJS says that it's "width, height, depth", the documentation also says that it's x, y, z.

Wit

[2017-04-15 01:48] #86 closed

[2017-04-15 02:00] kennethjiang commented on #81
Sorry for the delay.

You are probably right that lay-flat can be done just by rotating X and Y, however the way that how lay-flat is calculated is by using the "orientation", the vector that is perpendicular to one of the faces on the model. I then used a function in three.js to convert the orientation back to rotation, but that function doesn't seem to have a way to fix Z rotation while trying X

[2017-04-15 02:24] John-Mc commented on #81
Understood. Probably not worth further investigation. As mentioned in first post, we can always just do whatever z-axis rotation is needed after the lay flat

[2017-04-15 09:41] eyal0 commented on #85
Might be a duplicate of https://github.com/kennethjiang/OctoPrint-Slicer/issues/86

[2017-04-15 09:52] eyal0 opened #88 "Non-docker build instructions needed, how to minify slicer.js?"
How do I build and install without using Docker?  I usually run and test my plugins without docker like this:

./venv/bin/pip install ../OctoPrint-Slicer --upgrade && ./venv/bin/octoprint --verbose

That installs the current code and then runs Octoprint.  It used to work but the steps that copies slicer.js to octoprint_slicer.min.js is missing.  What is the step to minify and concatenate all the i

[2017-04-15 12:32] eyal0 commented on #88
I figured it out.  I'm able to reinstall OctoPrint-Slicer and launch OctoPrint with this command:

`cd ../OctoPrint-Slicer && npm run build && cd ../OctoPrint && ./venv/bin/pip install ../OctoPrint-Slicer --upgrade && ./venv/bin/octoprint --verbose`

[2017-04-15 12:32] #88 closed

[2017-04-15 14:07] kennethjiang commented on #88
I switched to using Rollup and didn't update README. Sorry!

During development, you may want to run `npm run watch`. It will monitor changes in `src` folder and recompile them to `octoprint_slicer/static/js/octoprint_slicer.min.js` whenever there is change. Makes it convenient. `npm run watch` is not robust. It will crash often. So you will have to relaunch it from time to time.

[2017-04-16 21:11] John-Mc opened #91 "Print bed grid missing"
Just upgraded to 1.2.3.  The grid on the print bed is missing when viewed in Firefox on a Mac. Switched to Safari, and the grid is showing there, but the labels "Front", "left", etc. are showing up twice. Looks normal in Google Chrome (Mac) browser.

Not sure if this is related to the update or not, but OctoPrint seems to be taking much longer to load, and slicing seems to be much slower as well (

[2017-04-16 21:59] kennethjiang commented on #91
Thank you so much @John-Mc  for catching this! Will push a fix soon.

What version of Safari are you using? I'm using Safari 10.1 on Mac and not seeing the problem of labels showing twice.

[2017-04-16 23:09] thjansen72 commented on #85
Jepp. It looks good with the new update.
I also think its a little slower. The STL from the image above (7.7MByte) took 448 sec to slice.. (chrome) - but it's just my view and i don't rembember the exact time of the earlier version of the slicer.
No matter about this. Thanks!

[2017-04-16 23:28] John-Mc commented on #91
Just fired things up again, and the double labels in Safari are gone (Safari 10.1, Mac OS 10.12.4). Not sure what's happening here, since I did reboot before.

[2017-04-17 00:07] kennethjiang commented on #91
Just pushed 1.2.4. The print bed should be fixed now. Let me know if you still see issues.

[2017-04-17 00:07] #91 closed

[2017-04-17 00:18] kennethjiang commented on #85
I just tested a stl file of 10MB and it took only 29s. So 448s is definitely too long.

Are you using Cura or Slic3r? I have noticed that Slic3r takes a lot longer than Cura for the same STL.

If you are using Sli3r, can you attach your STL file so that I can investigate why it takes so long?

[2017-04-17 00:28] John-Mc commented on #91
Working fine in Firefox now

[2017-04-17 02:22] #82 closed

[2017-04-17 03:41] eyal0 commented on #85
It's probably just the slicer and not this plugin.

Once the file starts uploading, the plugin is done and its just a matter of
upload speed and slicer speed.

If you open the network tab in the the developer console by pressing F12…
you can see when the uploading starts.

On Mon, Apr 17, 2017, 02:10 thjansen72 <notifications@github.com> wrote:

[2017-04-17 08:31] thjansen72 commented on #85
Don't forget I use a bigger bed size! n a 200x200mm sized bed the slicing is verry faster!
[Almuth2.stl.txt](https://github.com/kennethjiang/OctoPrint-Slicer/files/925188/Almuth2.stl.txt)

[2017-04-17 14:03] kennethjiang commented on #85
@thjansen72 With your STL I had similar results as yours: on my OctoPrint (Raspberry Pi 3) it took almost 300s to slice, whereas on my MacBook Pro (using Cura) it took less than 10s.

The reason why there is such a huge difference is that the Slicer Plugin sends STL file to Cura on OctoPrint server (running on a Raspberry Pi) to do the slicing work. Since Raspberry Pi has much less computing power

[2017-04-17 15:09] eyal0 commented on #85
I've been thinking of making a client-server slicer so that RPi can send
slicing jobs to other, faster computers, to slice. But then you'd have to
set up a computer that is always on for that. The advantage, I thought,
would be using slicers that don't run on RPi like simplify3D.

5 minutes to slice a file that takes 5 hours to print anyway doesn't seem
like a big deal.

On Mon, Apr 17, 2017, 17:0

[2017-04-17 17:30] thjansen72 commented on #85
No, it's absolutly no problem on my side. My RPi3 got some other things to do (X-Server with touchUI and 7" touchscreen, VNC, a.s.o.) so I got less  power for calculation. It's working perfet for normal objects and tthat all that matters!
@eyal0  Nice idea. Maybe transfering data via http (post/get) into a little java applet, witch will start the sclicer as "system-command". This could be done on

[2017-04-18 20:37] eyal0 opened #92 "When selecting and moving unselected object in front of selected object, it jumps"
To reproduce:

1. Put two objects on platform and adjust view so that one partially obscures the other.
2. Select the object that is partially obscured.
3. Now drag to move the object that obscures.  It will jump and then drag normally.

Like this:

![jumping_stl](https://cloud.githubusercontent.com/assets/109809/25122625/434f5064-242e-11e7-9737-2008b4532cb8.gif)

I started working on it but got s

[2017-04-19 14:16] #92 closed

[2017-04-22 12:02] dani203 commented on #65
@kennethjiang Sorry, i didn't notice your reply for some reason. I don't need any sophisticated controls like increasing fan speed, all i want is to set a speed througout the entire print.
Could look something like this:
![image](https://cloud.githubusercontent.com/assets/1751894/25304270/518164f4-2764-11e7-863b-c622d5c42fa7.png)

[2017-04-22 12:45] John-Mc commented on #65
@kennethjiang - if you do get into this, aren't there some filaments that benefit greatly from a different fan speed in the initial layers? If so, the image you posted on March 14 would seem to offer something for a wider range of users.

On the other hand, @dani203's suggestion does make for a simple, uncluttered interface (unless this is done via some pop-up dialog box?)

I'm probably the wrong

[2017-04-24 16:39] kennethjiang commented on #65
@dani203 @John-Mc sorry I was just back from vacation. And thanks a lot @dani203 for using drawing to make communication a lot easier!

I guess I will go with doing the settings that Cura currently supports. I will open another ticket to explore if it's feasible to incorporate Cura plugins which will provide much better flexibility.

[2017-04-24 16:42] kennethjiang commented on #85
@thjansen72 @eyal0 I have thought about building a "slicer cloud" that will do exactly what you talked about. But it is by itself a much bigger scope than the whole Slicer Plugin.

I will close this issue for now. But will keep you posted if/when I'm ready to start on the "slicer cloud".

[2017-04-24 16:42] #85 closed

[2017-04-24 16:43] kennethjiang opened #97 "Support Cura plugins - is it doable?"

[2017-04-24 19:34] kennethjiang commented on #81
@eyal0 You seem to have done something interesting around lay-flat/tipping. Should I pull your branch and take a look at it?

[2017-04-25 05:44] eyal0 commented on #81
If you like, sure! I'll tell you what I did:

What I did was calculate the model's center of mass (centroid) and also the convex hull of the points that are touching the platform.  If the centroid is over the convex hull then the object won't tip over.  But if the centroid isn't then I rotate the object until it is touching the platform at a new point.  I repeat this until the centroid is over the

[2017-04-25 05:45] eyal0 commented on #81
Mostly it's really slow so I'm working on that first.

[2017-04-25 22:39] kennethjiang opened #98 "More Slic3r custom settings"
The following Slic3r custom settings are desired:

* brim_width
* first_layer_temperature
* first_layer_bed_temperature

[2017-04-26 14:59] #58 closed

[2017-04-26 15:08] breadfan13 opened #99 "Minimal layer time"
Just a feature request. getting heavy use out of this nifty onboard slicer for my pi3. Could really use a minimal layer time option in settings.

[2017-04-26 15:31] John-Mc commented on #99
Is minimal layer time something you need to change frequently? I never change mine, so I just set it once in the profiles I export from Cura Desktop, and they are there (I believe) for anything I slice in OctoPrint. I'm fairly sure that just the fact that I can't adjust it in OctoPrint or the slicer plugin doesn't mean that the imported profile setting is ignored.

If this is something you need to

[2017-04-26 17:18] kennethjiang commented on #99
I actually ran into this situation quite a few times when I do want to tune minimal layer time. Ironically most of the times it was because Cura failed to respect the set value of minimal layer time.

I never quite figured out if my struggles with minimal layer time in Cura were caused by user error, or bugs in Cura. My general experience is minimal layer time seldom works in Cura 15.04, but works

[2017-04-26 19:05] #79 closed

[2017-04-26 19:07] kennethjiang commented on #65
@dani203 It is implemented in 1.2.5.

[2017-04-26 19:07] #65 closed

[2017-04-26 19:08] kennethjiang commented on #79
@fromagek I finally got around to implementing this feature. It's now live in version 1.2.5. Please upgrade

[2017-04-27 08:21] dani203 commented on #65
@kennethjiang Thats great to hear, thanks for the quick implementation!

[2017-04-28 19:10] GfiveO commented on #76
Hi Kenneth

Thank you for adding the lay flat and dimension to your slicer! My classes have been using it for the last two weeks and our print fails are down.
I see you have added fan control now too!

Thanks again
Aaron

FabLab Hawaii
Mary, Star of the Sea School
808 478 2588
fablabhawaii@gmail.com

[2017-04-28 20:42] kennethjiang opened #100 "Get rid of modal to confirm model loading"
Instead:
- Add a button to "clear bed"
- Add models straight to the bed without prompting

[2017-04-28 23:05] John-Mc commented on #100
Not sure I understand this one. You already have a "clear bed" button.
How is adding models straight to bed with prompting different than what is in the release version now? Are you prompting for "add multiple models" and if selected it stays in that mode (allowing models to be added with just a wand click) until you click something to cancel the bulk add mode?

[2017-04-28 23:56] kennethjiang commented on #100
It was a typo - should read "...**without** prompting".

Also I updated the wording about the button. The intention is to move current "clear bed" button to top level, probably right below current "remove" button.

Appreciated your questions @John-Mc  and my apology for the sloppiness.

[2017-04-29 07:43] eyal0 commented on #100
This is what existed months ago. Add was always without clearing the bed. The only problem that my users had with that is that sometimes they wouldn't notice that they are printing multiple files.

[2017-04-29 12:47] kennethjiang commented on #100
It is very similar to what I had before added the modal. The only difference is now there will be a "clear bed" button, hopefully very discoverable.

Can you elaborate what would cause your users to print multiple files without noticing it? Is it because they load a new STL file and move right into pressing the *Slice it!* button, not noticing that the bed is not empty to begin with?

[2017-04-29 15:01] eyal0 commented on #100
Yes, that's what happened.  But that was before the auto arrange and he had a small STL overlapping a big one so it was less noticeable.  Now that there is auto-arrange, it's easier to see when there are two models.

[2017-04-30 12:46] eyal0 opened #104 "Split into parts cannot be sliced"
To reproduce, load a model that can be split.  For example: http://www.thingiverse.com/thing:2020668/#files

Then split parts (in the ... menu) and then try to slice.  The slice option will be unavailable.

Broken on version 1.2.5.

[2017-04-30 12:50] eyal0 commented on #104
Works on [1.2.4](https://github.com/kennethjiang/OctoPrint-Slicer/releases/tag/1.2.4). So it must have broken in between the two.

[2017-04-30 13:01] eyal0 commented on #104
Using git bisect between 1.2.4 and 1.2.5, the bad commit is found:

[code]
https://github.com/kennethjiang/OctoPrint-Slicer/commit/175c578d161f5247cc30ec9718e397c24ef5f50d

[2017-04-30 13:57] eyal0 commented on #104
The problem is due to deleting the model before adding the new ones.  Because of this, resetSlicingViewModel is called for the delete but setSlicingViewModel doesn't get called.

setSlicingViewModel expects to get a target (local or sd) and a file name.  We don't have those when a model is split because only the original model has a file name.  The new models after split don't.

I suggest returnin

[2017-04-30 15:07] #104 closed

[2017-04-30 15:08] kennethjiang commented on #104
Thanks a lot @eyal0 for not only report this bug but also pointing out the root cause. Greatly helped me with the fix!

[2017-04-30 15:15] eyal0 commented on #104
Oops, I made a fix at the same time.  With your fix, you are arranging models after delete, which I think would be unexpected for the user.  Also, with the fix that I proposed, I am not calling model arrange after each add in the split so performance is improved.

Perhaps consider using my fix instead...

[2017-04-30 16:00] kennethjiang commented on #104
If models are not re-arranged after delete, there will be a "hole" after a model is split, because it would go like this:
1. model A is split into 5 parts
2. 6 models in total on the build plate
3. 6 models are re-arranged
4. original model is removed without re-arrange
5. there will be a "hole" at where the original model is

As you probably have found out, this part of the code (adding/removing

[2017-04-30 16:29] #98 closed

[2017-04-30 18:03] kennethjiang opened #106 "Default printer profile based on selection in printer connection settings"
In 0.9.1, the Printer Profile that was selected in the OctoPrint Connection panel would automatically preset the Printer Profile in the Slicer plugin.  This behavior would automatically occur when the “slice” button, next to the STL file was clicked.

This presetting of the Printer Profile stopped working after release 0.9.1, and it would be nice to have it working again.

[2017-05-01 17:29] thantik opened #107 "Get rid of analytic javascript libraries and tracking of users"
Currently the plugin reaches out to the internet in order to download 2 js analytic libraries.  I'm not sure what you're tracking, or why you think it's appropriate to track users of the plugin, but it needs to be removed.  We already fight for our privacy a million other places, and it's not appropriate to be tracking OctoPrint users via a phone-home analytic library like this.

As it currently s

[2017-05-01 18:09] Geoff-Ilmax opened #108 "Brim's not being created when selected"
When i select a Brim to be added to my print, and then look at the gCode or try to print, no Brim is shown or printed.

[2017-05-01 18:33] kennethjiang commented on #108
Did you select Cura or Slic3r? Can you give me more info about the STL file you tried to slice and the gcode generated?

[2017-05-01 18:50] kennethjiang commented on #107
The js libs help me understand where users get stuck, and what bugs my code has so that I can fix them. It is one of the best practices in writing software. Without these essential tools this plugin would have a lot more bugs then it does today.

If your concern is on your privacy - rest assured there is no way for this plugin to track your personal info. There are built-in mechanism in HTTP/HTML

[2017-05-01 19:18] Geoff-Ilmax commented on #108
This is the lastest STL file that I was slicing that I noticed it with.
http://www.thingiverse.com/thing:1672959/
I believe it was with Cura as I don't think i have Slic3r installed, but I wll double check once my current print finishes.  Once it completes, I will upload my Slicing profile, and the generated gcode.

[2017-05-01 19:25] Geoff-Ilmax commented on #108
![capture1](https://cloud.githubusercontent.com/assets/28269098/25591393/f8ef11e8-2e79-11e7-9cca-a67236c6ee1a.PNG)
![capture2](https://cloud.githubusercontent.com/assets/28269098/25591398/fb30951c-2e79-11e7-90f1-a73c66f6f31b.PNG)
![capture3](https://cloud.githubusercontent.com/assets/28269098/25591400/fd01ef26-2e79-11e7-8518-0914211647dc.PNG)

[2017-05-01 20:21] kennethjiang commented on #108
I tried that STL with `brim` option and it worked for me (plugin version 1.2.5). Please see the attached screenshots for gcode layer 1 and layer 2.

![screen shot 2017-05-01 at 1 13 31 pm](https://cloud.githubusercontent.com/assets/779786/25593298/d8b8aec4-2e70-11e7-9cb7-2fd3a4e7e69f.png)
![screen shot 2017-05-01 at 1 13 56 pm](https://cloud.githubusercontent.com/assets/779786/25593302/dc835bda-2e

[2017-05-01 20:23] kennethjiang commented on #108
yes please upload your slicing profile and gcode if you still experience the problem.

[2017-05-01 21:02] Geoff-Ilmax commented on #108
Here is my profile.  In my profile I have Brim turned off, But I am selecting it when I use the slicer, but not getting it in the gcode that it creates.
[A8-L2-F15-S0-P0.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/968802/A8-L2-F15-S0-P0.zip)

[2017-05-01 22:48] thantik commented on #107
It looks like we'll be keeping a fork of this project with the analytic libraries removed on our end.  git merge seems to do a pretty good job of ensuring an updated fork with the required libraries being removed from use.  We are not comfortable with our users (many of them schools) being subjected to any kind of analytics.

[2017-05-01 23:53] kennethjiang commented on #107
@thantik Maintaining your own fork is a good idea if you still have concerns. One of the biggest benefits of open-source softwares. :)

Also feel free to take a deep look at these 2 libs: MixPanel and Raven. They are reputable tools used by other companies including security-sensitive ones like DocuSign and banks.

[2017-05-01 23:53] #107 closed

[2017-05-02 14:15] kennethjiang commented on #108
I tried it with your profile, and then set adhesion to **brim**. The resulted gcode still has brim. I attached the resulted gcode. Please compare it with yours.

[Refuerzo_en_T.gco.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/970711/Refuerzo_en_T.gco.zip)

[2017-05-02 17:01] eyal0 commented on #81
@kennethjiang If you want to fix up the z axis issue, maybe you can convert your Euler rotation from "XYZ" order to "ZYX" order first, then lay flat, then convert back to "XYZ".  I did this with model arranging to solve the same problem.  Three js docs explain how to change the order of Euler rotation.  It just does some matrix math so it's a fast calculation.

[2017-05-03 13:14] kennethjiang commented on #108
I'm closing this issue assuming that you no longer experience the problem @Geoff-Ilmax . You can reopen it if you still do.

[2017-05-03 13:14] #108 closed

[2017-05-03 15:23] kennethjiang commented on #99
@breadfan13 not sure if you saw my previous comments - unless there is a way to confirm that minimal layer time actually works in Cura 15.04, there is no point of adding it to the options.

[2017-05-03 16:53] kennethjiang opened #111 "buttons white on white - possible conflict with Cyborg Theme (0.1.0)"
![Screen shot](http://i.imgur.com/kByLw8p.png)

[2017-05-05 05:27] OctoMoe opened #114 "Settings in Slicer not saved ?"
I like your Slicer a lot. This is something that was missing in Octoprint for sure.
It happend now twice to me, that i did set infill to 30% in your slicer, then hit the slice button and started to print. The prints came out with 0 infill. Did i go wrong somehow since it does not recognize the 30% ?
When i change the same profile with the same stl  on my phone with a apk i have and slice it there,

[2017-05-06 22:53] kennethjiang commented on #114
My slicing profile is 20% infill by default but I sometimes (just did it yesterday) set it to 30% and have not noticed any problem.

Can you slice it again with 30% to see how it comes out? If it still doesn't work, can you attach your STL, profile, and generated gcode so that I can look deeper?

[2017-05-07 09:12] Smombie-Rom commented on #114
What i found out now :
The standard profile i used was 0 infill. Changing infill to 30% did not save the new settings for me.
I made a new profile where 30% is pre set, and there it is fine.
Just sliced again.
Steps i took, so we can iron out errors:
Loaded the stl file, changed infill from 0 (blank input selector) to 30 and hit "slice it"

I made you 2 gco files. One where i set up 30% by myself,

[2017-05-08 10:59] fromagek commented on #79
Works perfectly!
Thx!!!

[2017-05-08 22:22] kennethjiang commented on #114
`sliced_with_set_to_30.gco` is definitely corrupted in a weird way. I tried it with your STL and the generated gcode was fine. However I'm using Cura 14.01 in my OctoPrint.

I'm upgrading to Cura 15.04 to test it again. It will take a while. Will keep you posted.

[2017-05-10 01:25] kennethjiang commented on #114
@OctoMoe I finally upgraded Cura to 15.06. Gcode still came out ok. Attached is the sliced gcode with infill manually set to 30% and the `.ini` file with infill being 0%.

Here is what I suggest you to do:
1. Uninstall and reinstall Slicer plugin to see if the problem goes away.
1. If it doesn't solve the problem, rebuild the your Raspberry Pi from the latest Octoprint image. You will loose all yo

[2017-05-15 16:12] kennethjiang opened #116 "Exception: Cannot read property 'point' of undefined"
Stack trace:
/static/webassets/packed_plugins.js in QuickHull.computeExtremes at line 12890:34
/static/webassets/packed_plugins.js in QuickHull.computeInitialHull at line 12948:33
/static/webassets/packed_plugins.js in QuickHull.compute at line 13306:14
/static/webassets/packed_plugins.js in QuickHull.setFromPoints at line 12641:14
/static/webassets/packed_plugins.js in new ConvexBufferGeometry at

[2017-05-15 16:13] kennethjiang commented on #116
@eyal0 This exception happened to one of the users. Do you have any clue what could have been the cause of it?

[2017-05-15 18:32] eyal0 commented on #116
Deep inside QuickHull, which isn't even code that I wrote.  I got it from the three js examples.

Maybe the STL file was invalid?  If it's repeatable, maybe the user can send you the STL file?

Compute initial hull tries to find the initial 4 sided shape to grow into a convex hull. Maybe there are less than 4 points in the shape, which is an illegal shape.  Or maybe the shape is entirely flat, als

[2017-05-15 22:41] kennethjiang commented on #116
Got it! thx @eyal0 ! This error doesn't seem to happen often. Will keep an eye on it.

[2017-05-17 00:10] #100 closed

[2017-05-17 00:10] #111 closed

[2017-05-17 00:11] #114 closed

[2017-05-18 14:01] kennethjiang opened #117 "Add a dot or a cross to mark the origin (x=0,y=0) of build plate"

[2017-05-22 15:23] kennethjiang opened #118 "Use secondary drag to orbit the view"
Currently left-button drag is used to both move objects and obit the view, just depending on where the mouse button is pressed. This is prone to error especially when users are in a rush to position object and slice it.

Since orbiting the view is used less often than moving objects, the user experience will be improved by assigning secondary-button-drag (right-button drag) to it.

[2017-05-22 15:42] John-Mc commented on #118
Since Macs have no right button, will you be implementing a keyboard equivalent? I suggest control-click-drag, since the control click seems to be an "almost standard" substitute for a right click on the Mac

[2017-05-22 16:35] kennethjiang commented on #118
Mac has "secondary click" that's equivalent to right button on windows. See attached screenshot.

I think Cura and a couple 3D design tools do the same thing: left-drag to move, right(or secondary)-drag to orbit. Personally when I'm on Mac and confronted with similar situation I'd try these in order: secondary-drag, cmd+drag, ctrl+drag, shift+drag, opt+drag. So secondary-drag would have better dis

[2017-05-22 16:38] kennethjiang commented on #118
Although I'm personally more accustomed to secondary-click/drag than using control, especially on a web page, but I could be in the "minority group". Let me know if you think most users on Mac will find ctrl+drag more intuitive @John-Mc

[2017-05-22 16:43] John-Mc commented on #118
I had forgotten all about "secondary click". In fact, I've probably missed out on using my trackpad to control some things. My use of Macs long predates the appearance of track pads, so I'm used to some sort of keyboard alternative (fortunately for me, many programs seem to allow keyboard alternatives). If it's covered one way or another, it's fine with me. No need to make accommodations for my di

[2017-05-22 17:28] kennethjiang commented on #118
Hehe blame Steve Jobs for his hate for the right button. Although his engineers managed to sneak the function in it was never promoted. ;)

[2017-05-24 15:12] Tdoc31 opened #119 "issue on installation"
Hi

Love your plugin, but cant install it again

in the install window the following

Installing plugin...
Installing plugin from https://github.com/kennethjiang/OctoPrint-Slicer/archive/master.zip...
/home/pi/oprint/bin/python -m pip install https://github.com/kennethjiang/OctoPrint-Slicer/archive/master.zip
Collecting https://github.com/kennethjiang/OctoPrint-Slicer/archive/master.zip
Downloadin

[2017-05-24 16:48] kennethjiang commented on #119
From the messages it looks like Slicer plugin was already installed successfully. If you haven't done it, can you reboot the Raspberry Pi and check if Slicer plugin is installed?

[2017-05-25 08:52] Tdoc31 commented on #119
thanks for your reply
several reboot and it is not in the list of installed plugin
Anychance for a command line to have a force uninstall ?

thanks

[2017-05-25 17:53] kennethjiang commented on #119
If you can log into your Raspberry Pi you can do `sudo /home/pi/oprint/bin/python -m pip uninstall https://github.com/kennethjiang/OctoPrint-Slicer/archive/master.zip` to uninstall the plugin. However, I don't have a high confidence that re-installing it will work. Seems like your OctoPrint is in a little funky state that causes it to ignore plugins that are already installed.

What's your OctoPri

[2017-05-27 13:39] Tdoc31 commented on #119
I will reinstall octoprint as a whole and see

[2017-05-30 13:40] kennethjiang commented on #119
Let me know if the issue persists after you reinstall OctoPrint.

[2017-05-31 17:10] #117 closed

[2017-05-31 17:10] #118 closed

[2017-05-31 17:18] kennethjiang commented on #116
Has not happened frequently. Closing it baed on the assumption it is one-off/browser-specific issue.

[2017-05-31 17:19] kennethjiang commented on #99
@breadfan13 I am closing this issue assuming it's no longer a problem for you. Feel free to re-open it if otherwise.

[2017-05-31 17:19] #99 closed

[2017-06-01 10:46] Tdoc31 commented on #119
Hi

All is fine, even get an update this morning 1.2.9 if I recall well

thanks
Ps this thread is closed

[2017-06-01 10:46] #119 closed

[2017-06-01 14:12] kennethjiang commented on #116
This error occurs at the rate about 1 user/week. Impact all browsers.

[2017-06-01 14:16] kennethjiang opened #120 "Remove original color in STL files"
If STL files contains color data it'll mess up how models are presented. Color needs to be removed before loading into Slicer.

Turns out that the problem is caused by the normals being '0' in STL. needs to recalculate normals if they are incorrect in STL.

[2017-06-12 17:17] kennethjiang opened #121 "Work with profiles uploaded from Cura 2"

[2017-06-12 17:25] John-Mc commented on #121
This would be great, but wouldn't we need a Cura 2.x plugin first?

[2017-06-12 17:46] kennethjiang commented on #121
Creating a Cura 2 plugin is a much harder endeavor. Also the best place to bring in Cura 2 is OctoPrint core, which apparently has been on Gina's mind for a while now.

However, with more and more Cura 2 users, some Cura 2 profiles have been uploaded to OctoPrint. Since Cura 2 profiles are incompatible with those of older version, Slicer plugin is broken. What I'm trying to address with this issue

[2017-06-12 21:38] kennethjiang commented on #121
Lower the priority since this doesn't seem to be a use case that regular Cura 2 users will run into. Instead, the problem happens only when users manage to upload an incomplete Cura 15.xx profile to OctoPrint.

[2017-06-20 13:47] kennethjiang opened #122 "Delete key as the short cut to remove individual object"

[2017-06-20 13:48] kennethjiang opened #123 "Hide command menu when one command item is executed"

[2017-07-04 16:20] tobiaspedersen opened #124 "Import Stl From local files"
I can't find any method of importing a file from locally uploaded files, only when drag and dropp to the web interface. It would be a nice feature to have if it is not already there

[2017-07-04 19:00] thjansen72 commented on #124
You can load an STL in the slicer by hitting on the symbol in the file list.
If you're file isn't listed, it's in the wrong path.
I think the  possibility of loading lokal files, could be implemented in the main Octoprint process (ie by adding the path)  - but is missplaced in the slicer.

[2017-07-07 23:54] kennethjiang commented on #124
Hi @tobiaspedersen Did @thjansen72 's comment answer your question?

[2017-07-08 00:05] kennethjiang opened #125 "Implement more Slic3r specific settings"
- Loops (minimum)
- Minimum lengths

in attached screenshot.

![screen shot 2017-07-07 at 3 35 42 pm](https://user-images.githubusercontent.com/779786/27980683-49f71b08-6336-11e7-8476-b2a02b1280b8.png)

[2017-07-08 16:36] ottojo opened #126 "Use GCODE scripts from octoprint settings"
The Start GCode script in the advanced settings in the slicer plugin should use the script from the "GCODE Scripts" menu in the octoprint settings.

[2017-07-08 16:38] ottojo opened #127 "Use OctoPrint temperature presets"
Being able to use a temperature preset from OctoPrint instead of manually setting the print temperature on every print would be useful.
![screenshot from 2017-07-08 18-42-04](https://user-images.githubusercontent.com/7536298/27987387-2e61a8ae-640d-11e7-9bc0-89229fc036ea.png)

[2017-07-08 16:54] kennethjiang commented on #127
Currently the default temperatures are taken from selected slicing profile. Is this not the case for you?

[2017-07-08 16:57] kennethjiang commented on #126
Similar to #127, start g-code is taken from selected slicing profile. let me know if this is not the case for you, or you think it's a better idea to take from octoprint settings as opposed to slicing profiles.

[2017-07-08 18:01] stidf commented on #126
For certain things like extruding temp you would want it to pull from the
slicer profile. However I would pull the printer startup g code from
octoprint rather than the slicer. The desired purge line and printer start
up behavior are generally unique to the printer and some change print to
print. This is why the octoprint slicer has these commands coded into the
printer settings. Basically if you

[2017-07-09 09:25] thjansen72 commented on #124
It seems not to be "wanted" by octoprint itself (I think i know why). Even when using  the filemanager-plugin you can only choose from files  uploaded via the web interface first. And you're only able to browse in the local path to the octoprint-user-files.
I think this is made because of the multiple OS octoprint is running on...
So, the best place for your question would be:
https://github.com/f

[2017-07-09 11:22] John-Mc commented on #124
If I'm following the original request lately, you may want to look in to setting up a "watched" folder. OctoPrint does not like you putting files directly into the uploads folder. It will watch the Watched folder and automatically upload any files that are left in there.  For info on setting up the Watched folder, take a look at video 3.1 in this series:
[https://www.youtube.com/playlist?list=PLGc

[2017-07-09 11:56] thjansen72 commented on #124
@John-Mc  Upps. I forgot about that Thank you! Maybe because i don't like watched directorys ...

[2017-07-09 13:37] kennethjiang commented on #124
Thanks @thjansen72 @John-Mc for commenting on this issue. I think now I fully understand the OP's question. Agreed that this is not a function that should be implemented in Slicer.

I'm personally not a big fan of how file management works in OcotPrint. My ideal is to have all STL/gcode managed in the cloud. Similar to how google drive works (IMO the usability of google drive is so much better tha

[2017-07-09 13:54] kennethjiang commented on #126
Now I see the point that @ottojo made. Thanks @stidf for your explanation. I guess because I only have 1 printer, I have never understood why OctoPrint has its own gcode script settings.

The tricky thing is, I don't think it's a good idea to just pull start/end gcode from OctoPrint settings and silently ignore the ones in slicing profile, simply because there are other users (like me) who assume

[2017-07-09 14:18] tobiaspedersen commented on #124
Sorry for the late reply. Thanks for all response. I think I described my question poorly, sorry about that.

@thjansen72 answered my question I the first reply. I couldn't figure out how to get a file from the file manager into slicer.

 Thank you

[2017-07-09 14:49] stidf commented on #126
It's not just for multiple printers, think multi materials. As for the
solution, idk because adding the start up routine code to octoprint was one
of the setup steps for getting the onboard slicer working. Either way it's
something that needs to be set on machine profile setup. Generally once
with a little fiddling over the life of the machine. Couldn't you read the
slicer profile on import and as

[2017-07-09 15:16] kennethjiang commented on #126
@stidf can you help me understand how OctoPrint gcode scripts help with multiple materials? For instance, if you have different start gcode snippets for PLA vs PETG, how do you expect to use OctoPrint gcode scripts to accomplish that?

[2017-07-14 16:46] kennethjiang opened #128 "when rotating an object, the three circles for adjusting the X-, Y- and Z-angles should be a little bit bigger, so that they are easier to grab"

[2017-08-10 01:58] jasontaylor190 opened #129 "Chrome on Mac complains about not supporting WebGL"
Is this a dependency for this plugin?

[2017-08-10 15:10] kennethjiang commented on #129
Yes WebGL is a dependency for this plugin.

Is WebGL is manually turned off (using chrome://config/...) in your Chrome?

[2017-08-30 17:50] twilde commented on #107
Kenneth, would you consider providing an opt-out setting for the use of Raven?

[2017-08-31 21:05] kennethjiang commented on #107
I'd hesitate to do that - I have tried really hard to keep this plugin as simple as possible. It doesn't even have a settings page. And I have actually removed a few features because they were not easy enough to understand/use for most users. Because of that, I feel that adding an option to opt out Raven will be a big blow on the simplicity of this plugin.

Since Raven doesn't collect any Personal

[2017-09-01 15:33] chronoglass commented on #127
I'd like to second this request, the slicing profiles are useful for fine tuning the specifics of a material, but being able to select the material from the octoprint presets in the basic tab would allow a little ease of use

[2017-09-01 15:36] chronoglass opened #130 "saving slicing profiles"
*feature request*
I have spent a good amount of time tweaking around with my slicing profiles for various materials, but always find myself in a situation where I have the same filament from two vendors that require some slight tweaking (or like taulman clear PLA compared to others, MASSIVE changes) being able to save all of the tweaks I make into a new profile from the slicer plugin would save a

[2017-09-01 15:46] John-Mc commented on #127
Personally, I'd rather have the temps come from the slicing profile, and have the ability to override it (As we do now). We use this in a school setting. So far, 100% of the time we want the kids to use the temperature in the slicing profile. It can be overridden if necessary, but I'd rather have it **default** to the temperatures we have established in the profile that work with that filament.  I

[2017-09-01 15:52] John-Mc commented on #130
I also like this suggestion.  It's not a top priority for me, since I can always go back to Cura on my laptop and make the new profile, but it would be more convenient to just save what I've done in the plug-in.

If OctoPrint sticks with the older version of Cura for an extended time (rather than switching to Cura 2.x), this suggestion might be even more handy, since I would not have to dig up my

[2017-09-02 04:33] kennethjiang commented on #130
This is definitely a highly desired feature. Quite a few users have asked for that.

The tricky part is that currently slicing profiles are managed by OctoPrint, not my plugin. Since OctoPrint doesn't provide a way to update a slicing profile, implementing saving slicing profiles in Slicer plugin means re-implementing the whole profile management. Not only would that amount to a lot of work, but i

[2017-09-02 04:53] kennethjiang commented on #127
So what you want is to have an easy way to pick one of the preset temperatures to overwrite the ones in slicing profile, so that you don't have to manually enter them. Is my understanding correct?

Usually I have different slicing profiles for different materials, to account for the differences not only in temperatures but also in a lot of other settings. Can you elaborate the situations when usin

[2017-09-02 14:38] kittenkong opened #131 "Profiles missing when running 2 instances of octopi"
I've had the slicer running great with one instance of octopi for a while, using both cura and slic3r engines but after I started running a second instance of octopi the slicer no longer shows any slicing engines or profiles in the drop downs in the new instance or the original one.

[2017-09-02 16:50] donovan6000 commented on #130
You could implement it the same way the [M33 Fio](https://github.com/donovan6000/M33-Fio) does.
![save profile](https://user-images.githubusercontent.com/6620767/29997217-8c2c8d7e-8fc2-11e7-96ec-69af9f7e8e5e.png)
It uses this [blueprint API](https://github.com/donovan6000/M33-Fio/blob/master/octoprint_m33fio/__init__.py#L11966-L12035) to overwrite an existing slicer profile or create a new slicer

[2017-09-03 15:13] kennethjiang commented on #131
What do you mean by "a second instance"? Did you mean 2 OctoPrint processes running on the same Raspberry Pi, or 2 Rasbperry Pi with 1 Octoprint running on each of them?

[2017-09-03 15:18] kittenkong commented on #131
That's 2 Octopi processes running on a single Raspberry Pi

[2017-09-03 15:55] kennethjiang commented on #130
Thank you so much @donovan6000 for these pointers! Now I know that this is doable!

Did you use OctoPrint's `/api/slicing/xxx/profiles/yyy` to fetch slicing profiles? Or you created your own APIs to fetch/manage them? OctoPrint API returns profiles in JSON format, whereas original Cura profiles are in (sorta) YAML format and Slic3r profiles seems to be in some kind of Windows `.ini` format. Howeve

[2017-09-03 16:00] kennethjiang commented on #131
Got it. Can you elaborate on how you set it up so that I can try to reproduce it? I may be able to figure out how to do it myself, but if my way of setting up 2 OctoPrint processes are different than yours, I may not see the same problem as you do.

[2017-09-03 16:05] #124 closed

[2017-09-03 16:11] kennethjiang commented on #126
Closing due to inactivity.

[2017-09-03 16:11] #126 closed

[2017-09-03 16:14] kennethjiang commented on #129
Closing due to inactivity

[2017-09-03 16:14] #129 closed

[2017-09-04 12:44] donovan6000 commented on #130
I created [my own API for fetching the slicer profiles](https://github.com/donovan6000/M33-Fio/blob/master/octoprint_m33fio/__init__.py#L3256-L3308) that's used to [convert the slicing profiles stored in OctoPrint back into their original formats](https://github.com/donovan6000/M33-Fio/blob/master/octoprint_m33fio/__init__.py#L1508-L1720) before sending them to the user to edit them. I did this pu

[2017-09-05 03:31] kennethjiang commented on #130
Thank you so much @donovan6000 for the details. It looks like this feature is more achievable than I thought!

[2017-09-05 14:53] #120 closed

[2017-09-05 15:13] #122 closed

[2017-09-05 15:13] #123 closed

[2017-09-05 15:37] John-Mc commented on #120
Does this affect those who are printing with multi-color printers?

[2017-09-05 17:49] kennethjiang commented on #120
Sorry @John-Mc for the misleading title. The symptom of the issue was that some models were displayed with color/texture different from expected. Originally I thought it was caused by custom colors in STL. It turned out that the issue was caused by incorrect normals in STL. Therefore my fix didn't touch anything about color. Instead I just recalculate normals upon loading an STL.

I changed the ti

[2017-09-05 20:14] #125 closed

[2017-09-06 08:50] rtsense opened #132 "Slicing failed"
with octoprint 1.3.4 master branch and cura 15.04.6 profile I have this error
Slicing failed Could not slice BI.tmp.1504687229640.stl to BI.gco: Unknown error, please consult the log file
where the log file is located ?

[2017-09-06 17:39] kennethjiang commented on #132
Hi @rtsense - you can move your model on the build plate just a little bit and slice again. For some unknown reason Cura some times fails to slice a model when it's placed at the origin (0,0).

If it still fails, please attached the STL and I will try it on my end.

[2017-09-07 20:12] kennethjiang opened #133 ""Split into part" failed for particular STL"
The attached STL is cut in 2 halves by 3D builder. Slic3r is able to recognize the cut and split them into 2 parts. However "split into part" command in Slicer plugin fails to do so.

Cura failed the test too.
[lungo.stl.gz](https://github.com/kennethjiang/OctoPrint-Slicer/files/1285989/lungo.stl.gz)

[2017-09-08 05:57] cnlson opened #134 "slic3r plugin is not detected or offered"
I have installed both slic3r 1.2.9 and your slicer viewer. Cura, however,  is the only clicer detected

with an stl loaded
![image](https://user-images.githubusercontent.com/1442027/30197915-9688941c-9430-11e7-9476-5343737ae13a.png)

settings plugins - slic3r plugin present
![image](https://user-images.githubusercontent.com/1442027/30197929-acec2480-9430-11e7-8e92-61293942a536.png)

slic3r plugin

[2017-09-08 16:06] rtsense commented on #132
Hi @kennethjiang - I tested your solution and several stl that did not solve the problem. I installed the plugin on another printer and this time it works.
The profile cura not being the same may be that it comes from there

[2017-09-08 16:22] kennethjiang commented on #132
Have you ever been able to slice an STL on your 1st printer? If not, it's very likely that the Cura installed on that printer is somehow corrupted.

The best way to find out what happened is to look at the log files. If you know how to SSH to the Raspberry Pi of your 1st printer, you can find the log files in folder `$HOME/.octoprint/logs`. In that folder you will find files with name like `octopr

[2017-09-08 16:31] rtsense commented on #132
If I disable your plugin I can slicer without problem

[2017-09-08 16:41] rtsense commented on #132
log after slicing error :

2017-09-08 18:38:02,753 - octoprint.plugins.cura - ERROR - Could not slice via Cura, got an unknown error
Traceback (most recent call last):
  File "/home/pi/oprint/lib/python2.7/site-packages/OctoPrint-1.3.4-py2.7.egg/octoprint/plugins/cura/__init__.py", line 306, in do_slice
    p = sarge.run(args, cwd=working_dir, async=True, stdout=sarge.Capture(), stderr=sarge.Captu

[2017-09-08 20:41] devRhumbix commented on #134
Thank you @cnlson for reporting this issue.

Assuming you have done things like rebooting OctoPrint and force-refreshing page, please do the following steps to help me investigate:
1. Open OctoPrint in Chrome. Open developer tools, and look for Javascript errors on console. Post errors here if you see any.
2. Refresh the page and look for the network call as highlighted in the attached screenshot.

[2017-09-08 21:28] cnlson commented on #134
I ended up making it work, sorry for not closing the issue. in the slic3r
plugin, after you have slic3r installed and after you upload a profile you
need to go back and enable the profile. as soon as i did that and rebooted
it worked.

thanks again! Really enjoy the slicer in octoprint. I can slice from my
mobile now

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=s

[2017-09-08 22:02] #134 closed

[2017-09-09 02:34] kennethjiang commented on #132
From the error my best guess is that the slicing profile has some special character that is causing the problem.

To help me dig deeper, please:

- Attach the slicing profile that you were using to slice the model;
- Open OctoPrint in Chrome. Activate Developer Tools in Chrome. Enable Slicer plugin to slice an object. Switch to `Network` in Developer Tools. Find an entry similar to the one highlig

[2017-09-09 02:37] kennethjiang commented on #132
I'll be happy to do a google hangout session to walk you through all these steps if that's easier for you.

[2017-09-09 07:29] rtsense commented on #132
[conf-01-09-2017.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/1289603/conf-01-09-2017.zip)

[2017-09-09 07:29] rtsense commented on #132
curl "http://192.168.0.17/api/files/local/The_Ultimate_Spool_Holder_v2.tmp.1504941967425.stl" -H "Cookie: mp_ade6b64c4db77172707571c1f9cfcebe_mixpanel=^%^7B^%^22distinct_id^%^22^%^3A^%^20^%^2215e568e51dd5f6-0eb15f8ca92b26-1781c36-232800-15e568e51de5d5^%^22^%^2C^%^22^%^24initial_referrer^%^22^%^3A^%^20^%^22^%^24direct^%^22^%^2C^%^22^%^24initial_referring_domain^%^22^%^3A^%^20^%^22^%^24direct^%^22^%

[2017-09-09 07:31] rtsense commented on #132
2017-09-08 15:55:06,194 - octoprint.server - INFO - --- Log roll over detected ---------------------------------------------------
2017-09-08 15:55:06,195 - octoprint.server - INFO - OctoPrint 1.3.4 (master branch)
2017-09-08 15:55:06,196 - octoprint.plugin.core - INFO - 16 plugin(s) registered with the system:
|  Announcement Plugin (bundled) = /home/pi/oprint/lib/python2.7/site-packages/OctoPrin

[2017-09-09 07:36] rtsense commented on #132
[files.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/1289614/files.zip)

[2017-09-09 16:06] kennethjiang commented on #132
Thank you so much @rtsense will look into it soon!

[2017-09-10 16:31] kittenkong commented on #131
I'm running a raspbian sdcard (not octopi image), I made copies of the .octoprint file as below
`cd ~
cp -rf .octoprint .octoprint1
cp -rf .octoprint .octoprint2`

Then I made a bash file to start up all my instances at the same time

`nano ~/octoprint_startup.sh

#!/bin/sh

OCTOPRINT_HOME=/home/username/OctoPrint

# start the webui 1
$OCTOPRINT_HOME/run --daemon start

# start the webui 2
$OCTOPR

[2017-09-10 18:47] eyal0 commented on #132
I see a lot of french in the comments in conf-01-09-2017.ini, including non-ASCII characters, like "e" with acute accent.  Try removing all of those non-ascii characters @rtsense  ?

[2017-09-11 07:11] rtsense commented on #132
Thank you
I suspected that it came from my profile
The problem come from commenters in French in the start Gcode
Thanks again to you two
your plugin is truly top

[2017-09-11 08:27] rtsense commented on #132
On Cyborg Theme your rotate png has some white pixel that degrade the aspect
you can use this one if you want
![rotate](https://user-images.githubusercontent.com/5171588/30265212-cb2781a8-96db-11e7-87f6-721c67f871b0.png)

[2017-09-11 19:22] eyal0 commented on #133
This is a really hard problem.  I have worked on it before.  The current way that 3tk isolates is by looking for common intersections.  That only works if there is space between the models.  But if you use a problem is cut a model, it won't leave space.

The solution for that is to look at edges instead.  Two faces are connected only if they share a common edge and that edge has to be in the rever

[2017-09-11 19:34] eyal0 commented on #133
This is an example of a file with two shapes that I'm able to split using the branch that I mentioned above.  It's two pyramids with triangular bases connected by one face.

[triangletest.stl.gz](https://github.com/kennethjiang/OctoPrint-Slicer/files/1293782/triangletest.stl.gz)

[2017-09-11 19:59] kennethjiang commented on #132
Thank you @rtsense for providing the details! I'm glad that you get this figured out.

Really appreciated your help @eyal0 while I couldn't spend time on this issue!

[2017-09-11 20:19] kennethjiang commented on #132
Also appreciated the icon you design for me @rtsense It worked pretty well in dark theme but is not 100% consistent with normal theme. I will check with the original designer to see if he can fix the pixelation for me. If not I'll be happy to adopt your version. :)

[2017-09-11 20:44] kennethjiang commented on #133
Thank you so much @eyal0 for the detailed explanation and the work you have done! I will play with your branch when I get a chance.

[2017-09-14 16:29] chronoglass commented on #130
I don't know if i'm alone in this, but it seems to me that the holy grail for a system like octoprint is to decouple material from machine profiles. in the slicer I'd like to basically have a list of the materials I have narrowed the properties down on to select from to auto set the temps/speeds/distances and have that go into the slice

[2017-09-14 16:51] thjansen72 commented on #130
Hm. Just a idea..  If the sclicer "overwrites" the values of the cura.ini, octoprint is using, it might be posible to save a bunch of values (aka cura.ini) -representing  the different user-made-data- sets for  multiple  material-setups.
Like a kind of  profile-presets with the slicer editable values...

[2017-09-14 19:27] John-Mc commented on #130
@chronoglass  - isn't what you are describing more-or-less what a slicing profile is for? You put in all the little tweaks to make a specific filament run on your machine at specified quality levels. I suppose you could try to separate out machine-specific variables from filament specific, but I'd bet there are a lot of variables that are dependent on both, or are inter-dependent. (For example, yo

[2017-09-14 19:34] chronoglass commented on #130
i suppose in context of the interdependent settings it makes it quite a bit more complex to hit those magic numbers when talking about speeds and feeds vs quality and time, and the totality of what I really hope to get to is outside the scope of this one feature request.. probably a plugin to this plugin all it's own! haha. but a good starting point I still think would be the ability to save the a

[2017-09-14 19:41] John-Mc commented on #130
Agreed. It would be nice not to have to go back to a desktop version of a slicer, recreate and save changes then re-import into OctoPrint.

[2017-09-14 20:00] thjansen72 commented on #130
@John-Mc   Just a bunch of ideas for this topic. Maybe i should think about it some more.
But saving the changes made  in the slicer in a new slicer-profile  would be a good way!

[2017-09-15 23:57] kennethjiang commented on #130
Thank you so much everyone for contributing to making Slicer plugin better. I've been very tied up lately but will take a swing at this feature whenever I have free cycles.

[2017-09-16 04:50] chronoglass commented on #127
I think the individual profiles is a decent fix for the issue, going to my feature request for saving adjustments as a new profile. Could be nice to tie into the "default" material temps of octoprint, but could also become confusing.

[2017-09-16 12:24] eyal0 commented on #133
I did some more work and now it's able to slice the lungo file, too.  I'll explain how it works.

First, we find all possible neighbors of all faces.  For example, these two triangles share an edge:

![image](https://user-images.githubusercontent.com/109809/30511810-82239b9c-9ae9-11e7-8433-3d192a2921ca.png)

But the faces can only be connected if they have the same normal.  So either you're lookin

[2017-09-17 22:36] #133 closed

[2017-09-17 23:31] kennethjiang commented on #131
I finally got a chance to replicate your setup. However Slicer plugin worked fine on both OctoPrint instances...

To help me further investigate the issue, can you:

1. Try to load an STL into Slicer plugin.
2. Open Javascript console for the page on which you try to load STL, copy all the messages on Javascript console and attach them to this issue? In case you are not familiar with it, this is h

[2017-09-18 12:18] kittenkong commented on #131
No fair, I tried making instances with on octopi image and again installing octoprint from scratch on a raspbian install and have had the same problem.
[kittenkonglogs.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/1310596/kittenkonglogs.zip)

Here are the logs, I couldn't actually load an STL as all the button are greyed out.

[2017-09-18 12:43] kittenkong commented on #131
...

I am a dumb dummy. After correctly linking to curaengine the "slice" button activates and everything is good. I am not sure why I had the problem the first time as i had everything working and slicing properly until I ran a second instance and it all failed. It definitely works with four instances now though.

[2017-09-18 21:06] kennethjiang commented on #131
Glad to know you got it figured out. @kittenkong

I made the similar mistake and I should have warned you for that...

[2017-09-18 21:06] #131 closed

[2017-09-18 21:34] kennethjiang commented on #132
Hi @rtsense I just released version 1.3.1 that includes icons compatible with Cyborg theme. Please upgrade it. Happy slicing. :)

[2017-09-18 21:34] #132 closed

[2017-09-20 22:30] kennethjiang commented on #130
@John-Mc I remember we exchanged quite a few emails but somehow I can't find your email address anymore. Can you send email again to me at kenneth dot jiang at gmail dot com ?

[2017-09-26 17:52] kennethjiang commented on #130
@thjansen72 @chronoglass I have been thinking about building something that may be close to what you talked about. I talked to a few 3D printer users and some of them proposed similar idea.

I'd like to get your detailed input as well. Can you email me at kenneth dot jiang at gmail dot com  so that we can set up a time to call/skype chat?

[2017-09-28 18:10] leobel96 commented on #130
@kennethjiang I opened an issue some time ago... https://github.com/foosel/OctoPrint/issues/2054

[2017-09-29 16:37] kennethjiang commented on #130
@leobel96 Glad to know that you want a way to separate filament from the general slicing profile too. I'm currently in the phase of collecting people's opinion on slicing profiles should be better managed, including if it makes sense to take out settings related to filaments.
Can you email me at kenneth dot jiang at gmail dot com so that we can set up a time to call/skype chat?

[2017-09-29 17:09] leobel96 commented on #130
@kennethjiang Unfortunately I'm not a developer but only a very curious user ahahah so I don't know how I could help you :(

[2017-09-29 18:42] kennethjiang commented on #130
@leobel96 I'm not actually looking to talk to developers. What I'm trying to learn is *what* to build rather than *how* to build it. And I believe the best way to know *what* to build is to talk to users like you. In the past I have made the mistakes to assume that other users would want what I want. I'm not making the same mistake this time hehe :)

[2017-09-30 22:19] leobel96 commented on #130
@kennethjiang in my opinion adding materials support as suggested will make the plugin perfect, In this moment I don't know how you could improve it

[2017-10-01 16:02] eyal0 opened #135 "Ability to cut models?"
This seems like a feature that users might want: The ability to cut large models into smaller pieces in case a model doesn't fit on the platform.  It's also useful when a model has a lot of details and doesn't have a nice surface for printing.  Users can slice the model in half and print each half, then glue it together.

I've already started thinking about how to implement cutting a model.  I thi

[2017-10-02 13:37] kennethjiang commented on #135
Appreciated your actively improving Slicer plugin @eyal0

My biggest question is how users can interact with the plugin to cut the model. Are we going to show them a virtual plane that they can drag around to rotate/position it? Also do we need to implement an 'undo' if the cut doesn't turn out what they want?

[2017-10-02 15:38] eyal0 commented on #135
Maybe we only cut on x=0? That would keep it simple. I don't think that an
undo button is necessary because users can always just remove the pieces
and add the model again.

We should definitely aim to keep it simple. Perhaps we could look at how
other slicers do it and copy ideas? Slic3r, cura, m33 fio?

On Oct 2, 2017 16:37, "Kenneth Jiang" <notifications@github.com> wrote:

Appreciated your act

[2017-10-02 16:23] kennethjiang commented on #135
Agreed that we should use other slicers as references to optimized user experience, and strive to make it even easier (because IMO most slicers are too difficult to use).

I will play with Cura/Slic3r when I get a chance today to see how they implement cutting models.

[2017-10-02 20:09] leobel96 opened #136 "Show raft, brim and supports in preview"
Hello, Is it possible to add something similar to the "layers view" present in Cura so that Can be seen rafts, brims, supports,... directly in the preview such as shown in the picture below? Thanks

![cattura](https://user-images.githubusercontent.com/19806799/31097046-4788c82c-a7be-11e7-8bea-fc0b490c3896.PNG)

[2017-10-02 21:16] kennethjiang commented on #136
Hi @leobel96 thank you for proposing this idea.

Show rafts/brims etc is part of g-code viewing. Cura and some other slicer do a pretty good job to provide a seamless transition between STL viewing and g-code viewing. However doing the same in Slicer plugin will require a significant amount of work.

My workaround is to slice STL into gcode. And then load gcode into gcode-viewer. Will this workaro

[2017-10-02 21:36] leobel96 commented on #136
What about only showing rafts, brims and supports without analyze g-code but only adding it in the preview using a sort of  "prevision" of where they should appear?

[2017-10-02 23:19] kennethjiang commented on #136
Not sure what you mean by "prevision". But I assume the reason why you want to see raft/brim/skirt is to make sure they are what you expected.

How I think raft/brim/skirt *should* appear may not be how Cura/Slic3r *actually* generates it. And therefore IMO showing it will be misleading to say the best. Plus it won't easy to code it up.

 Did I overlook some easy way to reverse-engine exactly how

[2017-10-02 23:32] leobel96 commented on #136
Everything is exact, you are right. I'll use G-CODE viewer, no problem.

[2017-10-02 23:32] #136 closed

[2017-10-03 02:33] donovan6000 commented on #135
M33 Fio does it by allowing the user to position a stencil shape (cube or sphere) in the place where they want the cut to be performed, like this.
![before](https://user-images.githubusercontent.com/6620767/31107354-bbea4abe-a7a6-11e7-980a-4770e6293dc9.png)
It's simple, but it can be kinda frustrating when trying to position the cut perfectly since it doesn't have a way to undo it.

[2017-10-03 08:52] eyal0 commented on #135
@donovan6000 I see that you're using the ThreeCSG library.  I read the code and the open issues.  It seems that it isn't maintained. :-(

Some of the issues complain that it makes non-manifold STL.  Slicers might still work with non-manifold STL by repairing it but it would be nicer if it made legal STL in the first place!

ThreeCSG does more than what most users need: it will let you subtract any

[2017-10-03 12:44] John-Mc commented on #135
@eyal0  - If a user really wanted to cut along a diagonal, could they accomplish that by rotating the object instead of rotating the cutting plane? Object rotation is already part of this plug in.

[2017-10-03 14:58] kennethjiang commented on #135
After looking at how other slicers handle 'cut', I'd propose:

* This feature should be kept very simple and straightforward. Anything more than that should be handled in 3D modeling (TinkerCAD) or mesh fixing tools.
* A menu item 'cut' is added inside menu '...' . When it is selected, a simple dialog pops up to ask user 'the z-height (mm) of the cut'.
* User enters the z-height, we cut all the mo

[2017-10-03 20:21] eyal0 commented on #135
@John-Mc Yes, the user could rotate before cutting.  That's why we can keep it simple.  Users that require more complicated cuts can rotate the object first themselves.

@kennethjiang I agree with all that except that I'm not sure about the z-axis.  I see a couple reasons why cutting at X=0 might make more sense:
* With X, you can have a reasonable default: X=0.  With Z, you can't have a reasonabl

[2017-10-04 16:42] kennethjiang commented on #135
@eyal0 I agreed with most of what you said. However, I still feel cutting along Z is a slightly more straightforward concept to most users because:

* We will also accomplish a feature that users have asked: z-offset. Actually more users have asked for z-offset than for the cutting model.
* Z-axis is special in 3D printing. Therefore most users are probably more used to processing a model along z-

[2017-10-06 05:41] clee opened #137 "Slic3r gcode textareas show \n instead of newline"
When I use the Slic3r engine, the textareas for the gcode show \n characters instead of actual newlines. This is kind of ugly. If I edit them and add real newlines, it breaks the slicer.

Screenshot showing the problem:
![screenshot from 2017-10-05 23-40-22](https://user-images.githubusercontent.com/2089/31264483-b13146a4-aa26-11e7-8dc5-50423bc81e96.png)

[2017-10-06 18:19] clee commented on #130
:+1 for this feature. I also would love the ability to have filament profiles - specifically containing filament diameter, extruder and bed temperature, and retraction settings (which I find vary from filament to filament).

[2017-10-06 19:41] kennethjiang commented on #137
good catch. And I agree it's ugly! Thanks for reporting it @clee

[2017-10-12 17:15] leobel96 opened #138 "No brim generated"
Hello, I select "Adhesion : brim" usind the dropdown menu but no brim is generated during print. How is it possible?

[2017-10-12 17:29] kennethjiang commented on #138
Did you use Cura or Slic3r? Can you upload the STL and gcode so that I can take a look?

[2017-10-12 17:32] leobel96 commented on #138
I used Cura. These are the files
[files.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/1380125/files.zip)

[2017-10-12 17:44] kennethjiang commented on #138
The brim was actually generated in your gcode. Attached is the screenshot of the 1st and 2nd layer of your gcode.

The brim in your gcode is a lot thinner than the one I generated using your STL. I suspect it's because you customized "brim line amount" setting in the profile.

<img width="841" alt="screen shot 2017-10-12 at 10 38 42 am" src="https://user-images.githubusercontent.com/779786/3151050

[2017-10-12 17:45] leobel96 commented on #138
Yes, I'm sorry, my fault. Have a nice day!

[2017-10-12 17:53] #138 closed

[2017-10-19 13:36] #137 closed

[2017-10-19 18:05] kennethjiang opened #139 "Add "cut off object bottom" option in Cura"

[2017-10-20 17:34] kennethjiang opened #140 "Action icons overlap in TouchUI"

[2017-10-27 20:20] ismangil commented on #130
Playing around with Slic3r Prusa Edition, it seemed to got settings relatively correct: print quality, filament, and machine.

[2017-10-29 01:32] mriveralee opened #141 "Support for Selecting Tool for multiple STL Prints"
I have a 2 extruder setup and frequently print things with mixed-materials. It would be great if there could be support for selecting the Tool for a particular STL from within the viewport.

[2017-10-31 14:33] kennethjiang commented on #141
Currently Slicer plugin is using Cura 15.04 running inside OctoPrint as slicing engine. I don't think Cura 15.04 supports dual extruders. But let me know if I'm wrong @mriveralee

[2017-11-02 02:24] mriveralee commented on #141
I did some digging:

Cura 15.04 also supports dual extrusion by a command in the interface called "Dual Extrusion Merge". After importing two models, you can select one, right click, and select "Dual Extrusion Merge". Cura then labels the initially selected one to be printed with "Extruder 1".

There's a post on the forums describing how to do this via the older [Cura software](https://ultimaker.c

[2017-11-02 18:51] kennethjiang commented on #141
Great thank you @mriveralee  for doing the digging for me. I will take a look at if the same is doable in OctoPrint.

[2017-11-05 17:13] thjansen72 opened #142 "Scaling problem"
I loaded a model into the slicer. No problem. But I need it a little smaller. scaling  - no matter if single axis or all 3 locked - no problem.
But: if i rotate the model  befor scaling  (it is vrtical in the project, so I rotate it so it can lay flat)  and then try to reduce i.e. the z-hight (just a prototyp - don't need all the material to be printed, only the perimeters), nothing is o.k.
Scalin

[2017-11-11 07:08] eyal0 commented on #135
I've made some progress on this.  You can see the results below where I chopped a complex dinosaur shape in two.

![2017-11-11-090033_1247x664_scrot](https://user-images.githubusercontent.com/109809/32687157-cf08a744-c6be-11e7-8e53-942ed139c049.png)

The code to do it is on [this branch](https://github.com/eyal0/3tk/tree/connected_buffer_geometry) of 3tk.  There's a new class called ConnectedSTL t

[2017-11-11 17:15] mrouillard opened #143 "display the slicing percentage in the progress bar"
It would be nice to have the percentage of slicing displayed in the status bar when using Slic3r, similarly like done with the default Cura slicer.
I don't know if this is feasible, as I suppose it depends on the capabilities of the Slic3r program. But it would give a better user experience when slicing big models.

[2017-11-11 22:18] eyal0 commented on #135
I'll try to explain here how it works.  First, I'll explain `splitFaces`.  `splitFaces(plane)` takes all the faces in an STL and subdivides them as needed so that all the faces are either entirely on one side of the plane or the other.  For example, if we start with the black triangle and the red plane:

![image](https://user-images.githubusercontent.com/109809/32693977-73c5cb26-c73d-11e7-8c23-994

[2017-11-12 05:51] eyal0 commented on #135
To `chop(plane)`, we first `splitFaces(plane)`.  That gives a `Set` of points that are in the plane.  Next, we `disconnectAtSplit`, which creates two new `ConnectedSTL`s, one for each side of the split.  The new `ConnectedSTL`s will not be manifold because there will be a hole where the shape was disconnected.  The object on the left is what it looks like.  The goal is then to seal that hole, so t

[2017-11-12 18:12] eyal0 commented on #135
There are some functions that we can use to clean up the shape before and after we do anything.  One of them is to remove all faces that have a normal of 0.  There are two ways that it can happen:

1. Two of the vertices are the same.
2. All the points are coplanar.

![image](https://user-images.githubusercontent.com/109809/32701770-1bde5d22-c7e4-11e7-989d-c1c8bc013bba.png)

(Imagine that the purp

[2017-11-12 20:56] eyal0 commented on #135
After we have the above procedure to remove faces with no area (normal = 0), we can make a routine to merge faces.  Merge faces allows us to remove extra faces.

Every side of an object has 3 or more edges.  The number of triangle faces to make the side should be 2 less than the number of edges.  For example:

![image](https://user-images.githubusercontent.com/109809/32703050-0b822cc8-c7f9-11e7-9d

[2017-11-13 01:06] kennethjiang commented on #135
Thank you so much @eyal0 for this awesome work and detailed explanations. I ran the tests and they seem reasonably fast.

Are you ready to send a PR for your work?

[2017-11-15 03:56] gappleto97 opened #144 "Never seems to slice with slic3r plugin"
Latest version of all components. No log events seem to be issued.

[2017-11-15 15:03] kennethjiang commented on #143
My Slicer plugin is only a front-end for Cura and Slic3r engines running inside Paspberry Pi. In particular, Slic3r engine is implemented in another project here: https://github.com/OctoPrint/OctoPrint-Slic3r

I think you need to open an issue with that project to request the progress bar feature. Let me know if it doesn't make sense to you @mrouillard

[2017-11-15 15:06] kennethjiang commented on #144
Can you give me a bit more info about this bug @gappleto97 ?

Did you install the Slic3r plugin? It is available here: https://github.com/OctoPrint/OctoPrint-Slic3r

Were you able to see `Slic3r` as an option when you use Slicer Plugin?

[2017-11-15 15:28] qqazxswedc opened #145 "import stl automatically combines with last imported stl"
while printing, when i try to import an stl(ie. clicking "upload" button) the problem is that when it opens up in the slicer, the stl was not imported on its own, but instead 'combines' with the last previously imported stl, meaning i have to select the old stl and delete it. not only that, but the really annoying part is that when i go to slice the stl, all the textboxes for file to write gcode t

[2017-11-15 15:33] mrouillard commented on #143
Ok, this makes sense. Thanks!

[2017-11-15 15:33] #143 closed

[2017-11-15 15:35] kennethjiang commented on #142
Sorry @thjansen72 for the delay. I have been very tied up with another project.

I tried to scale Z axis and then rotate the part and I didn't see any problem. Please see the attached screenshot. Did I misunderstood the problem you described?

<img width="660" alt="screen shot 2017-11-15 at 7 34 25 am" src="https://user-images.githubusercontent.com/779786/32844519-75b3f1f0-c9d7-11e7-928a-499a063c8

[2017-11-15 15:40] kennethjiang commented on #145
Hi @qqazxswedc thank you for submitting this issue.

What you described was my intentional design to make it easy for users to slice multiple STL objects at a time. You can press the button (high-lighted in the attached screenshot) when/if you want to reset it to a clean build plate.

If you have an idea for a better user experience that works well for slicing 1 object as well as slicing multiple

[2017-11-15 16:24] gappleto97 commented on #144
I was able to see it as an option, but when I hit slice no processes were started on the computer, and no log events were emitted.

I installed both via the built in plugin manager.

[2017-11-15 16:26] kennethjiang commented on #144
If you uninstall Slicer Plugin, will you be able to use Slic3r successfully?

[2017-11-15 18:55] gappleto97 commented on #144
Yes

[2017-11-15 20:08] qqazxswedc commented on #145
okay. i see. thanks. just like desktop cura

[2017-11-15 20:08] #145 closed

[2017-11-15 22:29] thjansen72 commented on #142
![quick sheets - 2](https://user-images.githubusercontent.com/20270638/32862346-1ba16c70-ca58-11e7-89b2-7388efb22bb4.png)
Hmm I had to get clear about what really happens.
Lets say the orientation of the bed is  x->front-line (to the sides), y ->left+right line (to the back), z- up).
When i place a model, it "gets" the same coordinate-system of the bed.
After rotating the model, its coordinate-sys

[2017-11-17 14:57] #135 closed

[2017-11-21 22:18] kennethjiang commented on #142
Thank you for the detailed info @thjansen72 ! I'm currently on vacation with very limited bandwidth. Will take a look at it next week when I'm back.

[2017-11-29 22:46] qqazxswedc opened #147 "ability to change brim line count"
the slicer is lacking the ability to change many basic settings, such as the # of lines in the brim. you can only turn brim on/off, not edit the brim settings. also, there are many settings that are changable in cura desktop edition, but not on octoprint. I would love to see more settings implemented into the plugin. thanks!

[2017-12-01 08:26] kennethjiang commented on #144
Sorry for the delay @gappleto97 . I just came back from an extended vacation.

I suspect that the problem you are experiencing is caused by an error in browser. Can you please open the OctoPrint page in Chrome, load an STL in Slicer plugin? Then [open Chrome Javascript console](https://stackoverflow.com/questions/66420/how-do-you-launch-the-javascript-debugger-in-google-chrome), copy the content i

[2017-12-01 08:42] kennethjiang commented on #142
Sorry for the delay @thjansen72 . I was just back from vacation.

I'm not sure I understand what the problem is. Can you point out what you think is wrong in the screenshots you poste above?

I also did some other tests and the screenshots are as follows:

*0. Original part placement and 1.0 scale:*
<img width="612" alt="screen shot 2017-12-01 at 12 35 37 am" src="https://user-images.githubusercon

[2017-12-01 09:33] kennethjiang commented on #141
Sorry @mriveralee for the delay. I was just back from an extended vacation a few days ago. Am trying to catch up on everything.

I suspect that *Dual Extrusion Merge* function is not exposed to Cura's command line executable. When I did `cura_engine -h`, I got:
*usage: CuraEngine [-h] [-v] [-m 3x3matrix] [-c <config file>] [-s <settingkey>=<value>] -o <output.gcode> <model.stl>*

It doesn't seem t

[2017-12-01 09:43] kennethjiang commented on #147
Hi @qqazxswedc - you should be able to set any tunable settings in slicing profiles. I have tried to keep Slicer plugin simple by providing the UI only for the settings that need to be changed *regularly*.

I haven't had the need to change # of lines in brim often. So I use slicing profiles for this setting and it works for me. But I understand your situation may be different. If so, can you help

[2017-12-02 07:01] gappleto97 commented on #144
Would it make a difference if I ran it in Firefox? Its a mild pain to install chrome on Linux.

[2017-12-02 18:46] kennethjiang commented on #144
Yes Firefox should work too @gappleto97 . What I need is the Javascript console output.

[2017-12-02 22:37] qqazxswedc commented on #147
I use a printrbot simple metal, which does not have a heated bed. I often use brims, and depending on the size of the model, i change the brim amount to prevent peeling while saving filament.

[2017-12-02 22:38] qqazxswedc commented on #147
I also dont want to use up sd card space with many different profiles on my pi

[2017-12-02 22:41] qqazxswedc commented on #147
I also very often need to change the overhang angle for support. It would be great if you could add in the ability to change all the settings that are in cura, and maybe add an option in the plugin settings to turn off extra settings.

[2017-12-02 23:23] John-Mc commented on #147
@qqazxswedc - you do know that the newer versions of Cura will let you send a file directly to OctoPrint, don't you?  You can change whatever you want running Cura on your computer, slice and send the results directly to OctoPrint. If you want the **full** functionality, that's probably the best way to get it.

I do the desktop Cura thing when I have something complex, but 95+% of the time, I don'

[2017-12-03 17:42] kennethjiang commented on #147
@qqazxswedc it sounds like you have a good reason to change brim line count often. I will consider adding it if I can figure out a way to prevent over-complicating the UI.

When it comes to adding all options, I echo @John-Mc's sentiment here: the goal of Slicer plugin is to be simple and easy for 95% of the use cases out there. There are alternatives if you want exhaust solutions, such as, like @

[2017-12-04 14:47] kennethjiang commented on #144
Were you able to capture the Javascript console output @gappleto97 ?

[2017-12-05 15:50] #139 closed

[2017-12-05 16:41] kennethjiang commented on #141
Hi @mriveralee: dual extrusion merge doesn't seem to be available in Cura 15.04 for Mac either. Please see attached screenshot.
<img width="1440" alt="screen shot 2017-12-05 at 8 11 44 am" src="https://user-images.githubusercontent.com/779786/33618701-1c387698-d998-11e7-8918-11cf8bde02d5.png">

I suspect this is a feature available only in the propriatary part of Cura. Since what's running inside

[2017-12-05 17:45] mriveralee commented on #141
Thanks for digging into this, I'll see if I can find any more information or another way to do this using the Command line.

[2017-12-05 18:04] kennethjiang commented on #141
Perfect thanks @mriveralee !

[2017-12-06 08:29] kennethjiang commented on #147
Hi @qqazxswedc I just released version 1.3.4 that includes brim line count in settings. Please upgrade when the new version is available to you.

[2017-12-06 08:29] #147 closed

[2017-12-12 05:15] kennethjiang commented on #142
@thjansen72 can you help me understand what the problem is? I am pretty sure I misunderstood you but I can't figure out where the misunderstanding occurred.

[2017-12-12 05:15] kennethjiang commented on #144
Do you still have the problem @gappleto97 ?

[2017-12-12 14:45] John-Mc commented on #142
Not sure if I'm following what @thjansen72 is saying, but let me take a stab at it.

In the example @kennethjiang  gives in his post with the sort of triangle shaped thing: in picture 1.1 you rotate 90˚ around both Y and Z. But then when you scale Z, it scales the **original** Z-axis, but @thjansen72 is expecting it to scale along the presently displayed Z-Axis, so that the shortest dimension (whi

[2017-12-12 16:14] kennethjiang commented on #142
Thank you @John-Mc for helping us out here. I think your interpretation makes sense. As a matter of fact I just tested it in Cura and it worked exactly as what you described @John-Mc .

I will do some research to see how difficult it is to change the behavior to be consistent with Cura.

I think the previous discussion we had was #81. It is a different issue and I know it's much harder to do.

[2018-01-09 15:55] ismangil opened #152 "Option to disable external tracker Mixpanel"
When running OctoPrint with Slicer plugin enabled there is an external tracker Mixpanel enabled. How do I disable this?

If I disable Slicer plugin the tracker disappeared.

What I want is to enable Slicer without the tracker.

[2018-01-09 16:43] kennethjiang commented on #152
Thank you for submitting an issue for the Slicer plugin.

Since this is an open source software, you can just fork the source code and remove Mixpanel. It should be pretty easy.

Mixpanel has been very helpful for me to understand the usability of the Slicer plugin. For example, it helped me figure out some unintuitive designs that got users stuck.

I think calling it a 'tracker' is a misnomer. Mi

[2018-01-09 16:51] ismangil commented on #152
Ok thanks for the response.  The issue is if the internet is not connected the plugin have problem loading. But there is a workaround to disable the plugin while Internet is not connected. And as you mentioned there's always the option of forking a custom version of this slicer plugin.

[2018-01-09 16:51] #152 closed

[2018-01-09 16:56] kennethjiang commented on #152
Thank you for your understanding @ismangil I may be able to figure out a way to lazy load Mixpanel so that it won't stop the plugin from loading when there is no internet connection.

Thanks again for bringing this issue up!

[2018-01-19 19:10] kennethjiang opened #153 "Mirror the model"
From a user:
Two of my printers print mirrored and I can't change it, just the way they were made (Tevo). For my other printer, I would use to to flip blade rotation on props or turbines. It would make it easy to make one drawing and have it counter and clock wise.

[2018-01-19 19:11] kennethjiang commented on #144
Closing issue b/c of inactivity.

[2018-01-19 19:11] kennethjiang commented on #142
Closing issue b/c of inactivity.

[2018-01-19 19:11] #142 closed

[2018-01-19 19:14] kennethjiang commented on #127
Closing this issue since it seems like a consensus that using slicing profiles is the reasonable way to address it.

[2018-01-19 19:14] #127 closed

[2018-01-27 09:46] mikedmor commented on #144
Also having this issue. Found this error in the console on chrome

`Uncaught TypeError: Cannot read property 'replace' of undefined
    at packed_plugins.js:36459
    at Pn (packed_libs.js:10658)
    at Function.<anonymous> (packed_libs.js:10679)
    at OverridesViewModel.self.updateOverridesFromProfile (packed_plugins.js:36458)
    at Object.success (packed_plugins.js:36513)
    at fire (packed_l

[2018-01-27 10:43] mikedmor commented on #144
Wanted to chime in that i was able to get this working. Not sure if it was missed in an update or something important, but i was able to get it to work by commenting out the following lines from ~/.octoprint/generated/webassets/packed_plugins.js

line 36457-36461
`                if (self.slicingViewModel.slicer() == 'slic3r') {
                    _.forEach(['end_gcode', 'start_gcode'], function

[2018-01-27 12:28] mikedmor commented on #144
I posted a fix for the problem earlier but ran into a few more issues disabling it. Instead i made the following changes to `~/.octoprint/generated/webassets/packed_plugins.js` and it seems to have solved my issue. Hopefully this help get it patched in the next version or anyone else experiencing this problem.

Change at line 36457:
`if (self.slicingViewModel.slicer() == 'slic3r') {
    _.forEach(

[2018-01-27 16:11] kennethjiang commented on #144
Awesome thank you so much @mikedmor for finding out the root cause and proposed a fix. Can you submit a PR for your fix? I'll be super busy for the following week but will try to merge your PR whenever I get a chance. Thanks again!

[2018-02-07 10:20] leobel96 opened #154 "Add more fan options"
Please add the possibility to disable the fan for the first "X" layers to make first layers better stuck on the bed.

[2018-02-13 02:54] kennethjiang commented on #130
Hi @John-Mc - finally I'm wrapping up on my job search (btw I'm joining https://www.fictiv.com/ !). should be able to spend a bit more time on this plugin.

Which version do you mean by "newer version"?

[2018-02-13 03:29] John-Mc commented on #130
@kennethjiang - Congrats on the new job!

I'm mainly using a Lulzbot Mini printer at present. Lulzbot uses a customized version of Cura, which is currently "Cura Lulzbot Edition 2.6.66". I'm not very familiar with it, since it requires flashing new firmware on the Mini, and once I do that, the print profiles I import into OctoPrint from Cura 15.4 will not work (it should be fixable, once I modify

[2018-02-15 15:34] kennethjiang commented on #154
Sorry for the delay @leobel96 . I have been tied up with a job transition.

Do you think it's an acceptable solution to just have the desired value set in the slicing profile? Obviously if you regularly adjust this setting, from model to model, it can be very annoying to use slicing profile for the purpose. If this is the case, can you elaborate why you need to make frequent adjust to this setting

[2018-02-15 15:36] kennethjiang opened #155 "Display the name of selected model"
So that it'll be clear which model(s) have been added to the Slicer.

[2018-02-15 15:58] leobel96 commented on #154
You are right, it's something I'll never adjust it but I haven't cura installed on my pc so I should install the old cura, set everything and then save config and upload it. I'd like to uninstall all my slicers and only use Octoprint-slicer. In this way I can also slice and print all my projects from everywhere also from my smartphone.

[2018-02-15 17:38] John-Mc commented on #154
@leobel96 IT would be worth keeping a compatible version of Cura on your PC so you can make new slicing profiles. You never know when you might want to get into a new filament, or tweak some obscure setting that Ken's plugin does not give you access to.

[2018-02-15 18:16] leobel96 commented on #154
@John-Mc Yes, it's true

[2018-02-15 23:03] kennethjiang commented on #154
If you want to be geeky about it, you can `ssh` to your `octopi` and find the `xxx.profile` file, and directly edit the settings there, as in attached screenshot.

It's a shame on everyone working on 3D printing softwares, myself included, that our users are still required to jump through all these hoops to get things done. :(

<img width="1440" alt="screen shot 2018-02-15 at 2 58 40 pm" src="http

[2018-02-15 23:10] kennethjiang commented on #154
I definitely want to get to a point where users only need to go to one place to do everything, as opposed to having to keep an old software to work around problems. However, it requires a much better (and bigger) planning than this plugin warrants.

Since the original purpose of this plugin is to provide an easy and quick way for users to slice directly within OctoPrint, I hesitate want to add opt

[2018-02-15 23:10] #154 closed

[2018-02-16 00:11] leobel96 commented on #154
@kennethjiang thank you for the suggestion!! I'll try that. Anyway I agree with everyone said. I'll edit using SSH or cura, no problem.

[2018-02-16 23:54] kennethjiang commented on #130
Thanks @John-Mc .

Took a look at the Cura 2.7 and 3.2. Yes you are right that both versions now separate filament settings from slicing profile. I think it's a step toward the direction of making it easy for users.

[2018-02-23 02:12] #153 closed

[2018-02-23 20:31] cotecmania opened #156 "Fan ramping up but then also down ..."
Hello,
tried benchy on my anet a8 with octoprint and slicer.
Fan activated from 0% to 100% at 2mm.
Ramp up was ok but then fan changed always while printing.
As you can see the whole file is filled with M106 code ...
Not ok for me
[3DBenchy.gco.txt](https://github.com/kennethjiang/OctoPrint-Slicer/files/1753074/3DBenchy.gco.txt)

[2018-02-23 21:35] kennethjiang commented on #156
Hi @cotecmania thank you for submitting an issue.

I suspect the problem is caused by some settings in the slicing profile. Can you slice the same model with Cura version 15.04 and make sure the resulted gcode is correct. Then export that slicing profile from Cura and import into OctoPrint. Then you can slice the model again in OctoPrint to see if you still experience the same problem.

[2018-05-02 15:38] travmill opened #157 "Extra gcode starting lines created when using CuraEngine"
I'm new to OctoPrint, so it's likely I'm just configured incorrectly, however, I can't find the controls in the print slicer plugin that determine specifically what gcode is placed in my files.

Running 1.3.8 on OctoPi 0.14.0.   .ini is created using Cura 15.04.6

My only issue is that there are some mystery lines of gcode being placed at the very beginning of a Pi sliced file:

**;Generated from

[2018-05-02 19:37] kennethjiang commented on #157
These are the lines that Cura automatically inserts. All of my gcode has similar lines too.

Do they cause any problem to your prints? @travmill

[2018-05-03 21:38] DongerZonie opened #158 "Ability to change basic settings for Slic3r profiles?"
When slicing using the CuraEngine you can change basic settings for the slicer, but with Slic3r (I'm using the prusa version, but im sure it persists for all versions) i'd love for the ability to change these too.

[2018-05-06 16:30] kennethjiang commented on #158
Hi @DongerZonie thank you for submitting an issue for Slicer Plugin.

There are some Slic3r settings, although fewer than Cura settings, that you can change directly in Slicer Plugin. Can you let me know what Slic3r setting you'd like to change but is still missing from Slicer Plugin?

[2018-08-14 11:09] PeggyFree opened #159 "Adhesion field is not working"
Hello, even if I chose "None", a brim is created. I installed latest Octoprint three days ago and installed this plugin via Plugin Manager. When I chose "Advanced" -> "Adhesion" -> "None", then slice + start printing, a brim is printed. The original STL have no brim, I printed it yesterday using a Cura 3.4 STL file.

This slicer is linked to Cura 15.04 engine. I didn't launch Cura 15.04, just let

[2018-08-14 15:38] kennethjiang commented on #159
Please post the gcode here and I'll take a look @PeggyFree

Just in case you didn't know - there will always be a couple passes of plastic around the 1st layer. It's called "skirt". https://rigid.ink/blogs/news/3d-printed-raft-brim-skirt

[2018-08-14 15:43] PeggyFree commented on #159
I'll post the gcode asap.

Le mar. 14 août 2018 à 17:38, Kenneth Jiang <notifications@github.com> a
écrit :

[2018-08-14 15:46] PeggyFree commented on #159
Octoprint gcode - cura 15 engine

Le mar. 14 août 2018 à 17:43,

[2018-08-14 15:52] PeggyFree commented on #159
Cura 3.4 gcode

Le mar. 14 août 2018 à 17:46 :

[2018-08-14 18:39] kennethjiang commented on #159
I don't see any gcode. don't think they were uploaded successfully to github. You may want to zip them before uploading.

[2018-08-15 07:26] PeggyFree commented on #159
[gcode.zip](https://github.com/kennethjiang/OctoPrint-Slicer/files/2289495/gcode.zip)
Here is the gcode.

[2018-08-16 09:48] PeggyFree commented on #159
It's a brim, isn't it?

[https://reho.st/self/7a13bf07dc5fdfada06fdef6bd738e3ff59c30d4.jpg](img)

[2018-08-16 11:57] kennethjiang commented on #159
Sorry for the delay!

Yes it was brim, not just skirt. A bit strange. Does it happen to other STLs you have?

Can you also attach the STL file, as well as the slicing profile you used?

[2018-08-16 14:25] PeggyFree commented on #159
Thank you for your answer. I'll be back with another example + STL file.

[2018-08-21 11:30] PeggyFree commented on #159
About the print speed, maybe you'll see what's wrong in the gcode, I'm not familiar with this. I changed the slicer print speed x8 (for instance 150mm/s for outer shell etc.), it didn't change anything. Then I changed the printer settings : maximum feedrate of the individual axes x10 : 90000 instead of 9000. With these settings and 50mm/s outer shell speed in slicer, I get a 2h print time instead

[2018-08-23 15:13] kennethjiang commented on #159
@PeggyFree You are right that even if when "adhesion" is "none", it will still generate brim in gcode.

The Slicer Plugin correctly passed the parameter `adhesion=none` to OctoPrint, which somehow passed the wrong parameter to Cura. So my best guess is that some bug in OctoPrint gets triggered by a specific setting in your Cura profile that results in the extra brim.

You can log a bug for OctoPri

[2018-08-23 15:51] PeggyFree commented on #159
Thank you for your analysis and help. Before testing your PLA settings i
have to solve another problem. The motors are whistling loud during print,
only when slicing with octoprint. I have to find why before anything else.

Le jeu. 23 août 2018 à 17:14, Kenneth Jiang <notifications@github.com> a
écrit :

[2018-08-30 20:44] tpbadger opened #160 "Docker error"
Tried to run Docker-compose and made it to step 4/6 before throwing the following error:

standard_init_linux.go:190: exec user process caused "exec format error"
ERROR: Service 'slicer' failed to build: The command '/bin/sh -c python setup.py develop' returned a non-zero code: 1

Using docker toolbox on Windows 10 Home Prem. Any ideas?

<img width="662" alt="docker eroor" src="https://user-images

[2018-10-05 06:32] pauln opened #162 "Please rebuild JS and re-release"
I've just realised that the JS wasn't rebuilt between merging #161 and releasing version 1.4.1, so #161 hasn't actually made any difference.  Could you please rebuild the JS and re-release?

Sorry - I probably should've mentioned in the PR that I hadn't rebuilt the JS (I figured it'd be best left for you to do as part of the release process).

[2018-10-05 10:50] kennethjiang commented on #162
Just pushed 1.4.2. Sorry for missing that too. Being pretty rusty with this plugin since I haven't touched it for a while now.

[2018-10-05 10:50] #162 closed

[2018-10-09 06:57] george-vieira opened #163 "Enhancement: gcode viewer 3D realtime while printing"
Would it be possible to make this a 3D Gcode viewer like the GCode viewer tab? I think this would look much cooler than the 2D one.

[2018-10-11 13:55] kennethjiang commented on #163
I think it's possible but it sounds like a separate plugin by itself. Unfortunately I have been super busy lately so I won't be able to build that plugin... :(

[2018-10-11 13:55] #163 closed

[2018-10-12 22:42] kennethjiang opened #164 "Add initial layer height to settings"

[2019-06-22 08:20] diedburn opened #165 "OctoPrint 1.3.11 compatibility"
### Compatibility with octoprint broke at version 1.3.11

issue as described, octoprint no longer allows you to upload stl files so no more slicing ;c.
i heavily relied on this because cura makes my wanhao crash by default 9 out of 10 times and i have no idea how to diagnose/fix it.

[2019-06-22 09:16] diedburn commented on #165
Octoprint has dropped default cura legacy support, but added a plugin for it: CuraEngine Legacy it will propably fix this for me!

[2019-06-22 09:16] #165 closed

[2019-12-05 01:20] Thunderscreech opened #166 "Enhancement: Default 'After slicing' setting"
Request for either the ability to set a default 'After Slicing' behavior or to save and set the default based on the previous print.  Roughly 100% of the time, I will select 'Start Printing' but the default is 'Do Nothing'.

The fix with the least impact would be to save the chosen action on any given slice and then use that as the selected> for the dropdown for the next one.

[2020-01-27 04:59] Red-M opened #167 "New Cura 4.4 slicer plugin"
I've made a few tweaks to a slicer plugin that now adds support for Cura 4.4 with Cura 4.4 printer profiles.

Plugin is [here](https://github.com/Red-M/OctoPrint-PBCuraEngine).
I've been testing it and it slices files exactly as Cura 4.4 will, with all the options still available for changes (see the example printer profile folder in the git repository).

Since this is a completely up to date slic

[2020-01-28 03:16] jesscold commented on #167
Your repo does not have issues enabled, so expect no feedback ever or many stars.

[2020-01-28 03:34] Red-M commented on #167
Not sure why GitHub doesn't enable that if the original repository has it enabled.
I've turned that on.

[2020-01-30 20:47] kennethjiang commented on #167
I've been quite swamped these days. will take a look when I get a chance. Thank you folks!

[2020-01-30 20:57] Red-M commented on #167
I also have got a patch that adds dynamic slicing variables to your plugin @kennethjiang so that my slicer plugin can work with your UI. Its not exactly pretty but it works well.

[2020-02-01 12:49] Red-M commented on #167
I've just made [a fork](https://github.com/Red-M/OctoPrint-Slicer) that allows the new slicer to work.
The patches do make the UI for other slicers a little wonky but other than the appearance, it works really well.

The patches also allow for dynamic slicer variables as well.

[2020-02-13 01:21] kennethjiang commented on #167
I was hoping I'll be more free this week but only getting busier. Sorry folks! maybe toward the end of February

[2020-06-22 12:48] Rbn3D commented on #167
Hi!

Any updates on this? Sounds promising 👍

[2020-06-22 13:03] Red-M commented on #167
The issue I've found is with the function/formula based values.
I have an idea for solving this issue since its causes silent failures in the gcode output and affects ALL versions of curaengine, since curaengine doesn't do any of the value resolutions for formulas causing invalid slicing settings. (note; it also affects the docker container version as well).

The only work around is to resolve eve

[2020-06-22 15:39] Rbn3D commented on #167
So we need our own "hierarchical value resolver" that mimics cura behavior on top of curaprofile parser itself, and then all absolute values to curaengine... Why doesn't it do that by itself? 😆

I haven't digg into this too much, but there may be another way to solve this:

Write a Cura plugin (for the desktop version) that exports full printing settings in a format we can easily parse on our side

[2020-06-22 16:12] Red-M commented on #167
This isn't hard to do, I just need to write some regexes to do a few things to substitute variables out with values and then run a python `exec`/`eval` over them. I just haven't gotten around to it and I'd want to do it properly.

I wouldn't want to do a settings export because then formula values would remain static forever and wouldn't update properly when you change base values (eg, nozzle size

[2020-06-22 17:49] Rbn3D commented on #167
Of course built in profile support is always better (I didn't know about the complexity of this).

Then I guess your fork (https://github.com/Red-M/OctoPrint-Slicer) it's usable with basic profiles, isn't it?

I'll give it a try.

[2020-06-23 03:38] kennethjiang commented on #167
Sorry guys for not being active in this project any more. I have been super busy with https://github.com/TheSpaghettiDetective/TheSpaghettiDetective.

But if you guys can come up with a PR that is tested, I'll be happy to merge.

[2020-06-25 09:56] Red-M commented on #167
I may not get around to this but if I do, I'll be sure to offer my patches upstream :)

[2020-08-10 10:53] DrJuJu opened #170 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-08-10 10:59] DrJuJu opened #171 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-14 12:36] apresa opened #172 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined  here (https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-14 17:08] #170 closed

[2020-09-14 17:08] #171 closed

[2020-09-14 17:08] #172 closed

[2021-01-16 00:39] eyal0 commented on #167
@Red-M Why didn't you just expand on the CuraLegacy Plugin?  Was it too difficult to do?

[2021-01-18 12:47] Red-M commented on #167
Cura legacy is so old that it doesn't fit into Cura's new versioning system.
Yes it runs but there is so many improvements and new features in Cura 4, that really, Cura should be offering a usable CLI because even the docker container version isn't properly filling values due to the way that Cura now doesn't inherit values or have any defaults, _EVERY_ value that the UI has must be to be provided

[2021-01-18 14:19] eyal0 commented on #167
I heard that the new profile for Cuts are so different from how Cute used to work that the Cuts Legacy plugin is unusable.

So how did you get around this problem?

[2021-01-19 10:24] Red-M commented on #167
I built a system using the profile metadata for Cura to support changing values and to present them to the user in this octoprint plugin.
That all kinda stopped when I realised that the GUI does all the expressions and math plus defaults for Cura profiles.

[2021-01-19 19:28] eyal0 commented on #158
No response in 2 years.  Re-open if this is still an issue.

[2021-01-19 19:28] #158 closed

[2021-04-28 18:04] lsellens opened #176 "no longer works on octoprint 1.6.0"
Looks like 1.6.0 brings built in slicing which overrides this plugin. I'm not sure if a change needs to happen in this plugin or in octoprint to get it to function as expected once again. The built in slicing is just a pop up that lets you pick slicer and profile. No positioning or profile settings changes can be made.
![Screenshot_2021-04-28 OctoPrint](https://user-images.githubusercontent.com/56

[2021-04-28 18:09] lsellens commented on #176
I think this is the relevant breaking change
https://github.com/OctoPrint/OctoPrint/commit/befe2e7bee6e4e59cc21e9a4afde1df28949c543#diff-f3a6e413df2ff364beacbd858613e1e79823f944cc26a74a343098d79227bd79

[2021-04-28 18:26] eyal0 commented on #176
The change that you linked is from 2015.  It's unlikely that this plugin has been broken for 6 years and no one noticed.

It ought to be pretty easy to bisect the issue, if there is one.

I can try to run this plugin with the latest version of OctoPrint and find which change broken this plugin, if there is one.

[2021-04-28 19:31] lsellens commented on #176
Yeah forget about that change I linked. I apparently didn't get enough sleep last night.
I rolled my octoprint back to 1.5.3 everything works as expected again. Just update to 1.6.0 and you'll see what I'm referring to.

[2021-04-28 21:01] kg333 commented on #176
Same results here when updating to 1.6.0.

[2021-04-29 02:26] mmirate commented on #176
The minified JS in this repo includes a copy of the babel polyfill. So does OctoPrint. As you may know, the babel polyfill may be instantiated only once per page-load. Hence, this plugin's JS throws an error and gives up.

[2021-04-29 02:27] mmirate commented on #176
And, __plugin_load__ doesn't exist anymore in 1.6.0.

[2021-04-29 04:29] eyal0 commented on #176
Actually, I know very little about this stuff!  You'd be surprised.

Do you know how to fix this?  Surely this is not the only plugin with such a problem!

[2021-04-29 14:25] mmirate commented on #176
When compiling the JS, don't include babel, just rely on OctoPrint's instance of it.

I'd send in a PR myself, but I can't find the unminified sourcecode.

[2021-05-02 13:41] rudy734 commented on #176
Hello
Will there be an update for Octo 1.6 ??

[2021-05-02 14:31] eyal0 commented on #176
@foosel Are you familiar with this issue? It seems that the babel polyfill in this plugin conflicts with the polyfill that is now a part of OctoPrint.

Do other plugins have this problem? How are they solving this problem?

[2021-05-03 15:01] foosel commented on #176
Not familiar, no. I also didn't get any reports about this during the RC phase, or after for that matter.

[2021-05-05 12:04] Moraxan commented on #176
Hi!

I'm using this in my work as a teacher. My students use Chromebooks, and the slicing options on the platform are limitied. I've invested quite a lot of time to get octoprint and the slicer plugin to work and it did up until this version. From what I've read in this thread is that the slicer and another plugin needs to be updated in order to work with Octoprint 1.6. One solution for me is to d

[2021-05-05 18:01] eyal0 commented on #176
The javascript ecosystem is the worst part of javascript.  What a nightmare.

I've been trying to figure out how to make a version that will work for 1.6 and <1.6.  I can do either/or very easily but making one that works for both is elusive.

[2021-05-05 18:10] kg333 commented on #176
Requiring a minimum of Octoprint 1.6 going forward seems reasonable.  Using the latest plugin while unable to update Octoprint would be unusual.

[2021-05-05 18:15] eyal0 commented on #176
Or I could try to strip out the polyfill.  I don't know enough about javascript to do that.

[2021-05-07 01:31] lsellens commented on #176
eyal0's PR works great for me. I'm back up and running on 1.6.0. Thanks!

[2021-05-07 15:42] eyal0 commented on #176
@Moraxan Looks like new version will fix your problem.  Try it out and let me know how it goes.  Thank you for being a teacher.  Let me know if I can be of further service.

[2021-05-10 12:59] Moraxan commented on #176
This nearly made me teary eyed. 1) You fixed it. 2) You thanked me for
being a teacher, and that's rare. You're the best! A huge thank you from
the bottom of my heart.

Den fre 7 maj 2021 kl 17:43 skrev Eyal ***@***.***>:

[2021-07-05 15:56] X-Ryl669 commented on #167
Do you know [jautocalc](https://github.com/c17r/jAutoCalc) ? I'm using this on [my blog](https://blog.cyril.by/en/3d-printers/finding-the-maximum-print-speed-of-your-printer) to automagically compute formula without bothering much about writing a javascript function per formula.

If I understand the difficulty correctly here, it might be able to solve the variable replacement and evaluation for yo

[2021-07-10 04:49] Torrax opened #179 "Limited Movement with Center Origin"
I just got this up and running with PrusaSlicer and the prints are coming out amazing!

One issue I have run into however is with my Printer Profiles Origin set to center, I am unable to move objects towards the bottom left without getting a pop up stating 'The objects could not fit on the bed'.

Is there a way to get around this or possibly override it to never tell me and just use the Out of Bou

[2022-08-10 02:12] Red-M commented on #167
I'm closing this, as much as I'd love to have something on device for slicing anywhere and with any end user device, this isn't feasible with my other works.

The main issue is that there is no dependency resolution in how to "resolve"/render values to something you could pass to the Cura CLI.
There is no easy way to do this and in someway ultimaker is making sure that nothing else can use the Cur

[2022-08-10 02:12] #167 closed

[2022-08-27 04:46] jarethmt opened #183 "The future of this plugin (a late night rant)"
Hey Guys,
So I see this plugin was largely abandoned, reason being that modern version of Cura support direct print to Octoprint. This makes sense for a generally normal, single printer, single user setup, which let's be honest, represents a lot of the community. However, as the community grows and 3D printing becomes more mainstream, public demand for on-demand 3D printing services is growing, an

[2022-08-28 15:51] toddmo commented on #183
What I don't understand about this plugin being considered obsolete is that this plugin allows you to slice right from inside Octoprint. Cura doesn't.

With Cura, you have to slice it up outside Octoprint, then send it to Octoprint. So what? The slicing files and jobs aren't integrated into Octoprint. It's another app; it's not integrated like this plugin.

The value of this plugin is never having

[2022-10-20 19:29] Blackbox2018 commented on #183
Why  is it obsolete? with this plugin, I didn't need the pc.